In [11]:
import sys
sys.version

'2.7.11 (default, Jan 22 2016, 08:28:37) \n[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)]'

In [12]:
import pandas as pd

In [13]:
pd.__version__

u'0.18.0'

In [14]:
!ls

20160524-python-data-processing.ipynb             outofschoolchildren.csv
Processing_UN_Climate_Open_Data_With_Python.ipynb pclassadult_sex.pdf
README.md                                         pclassage_sex.pdf
Untitled.ipynb                                    pivot_table_data_viz.ipynb
countries_metadata.csv                            total_children_by_year.pdf
data                                              workshop1_pandas_titanic.md
figure1.pdf                                       workshop2_pivot_table_and_data_viz.ipynb

<h2, align=center>Getting and Importing Data</h2>

### What do you want to know from the data?

#### CO2 Data can be downloaded from The World Bank website
#### http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/
#### Population Data
#### http://data.worldbank.org/indicator/SP.POP.TOTL

Visual check before importing the data

In [15]:
df_co2 = pd.read_csv(
    "data/co2_aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2/aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2.csv",
    skiprows = 4,
    encoding = "utf-8"
)

#### Tidy Data
#### Data Quality Checklist

## Dataframe and Subsetting
#### Dataframe attributes

In [16]:
type(df_co2)

pandas.core.frame.DataFrame

In [17]:
df_co2.shape

(248, 61)

In [18]:
df_co2.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
1961              float64
1962              float64
1963              float64
1964              float64
1965              float64
1966              float64
1967              float64
1968              float64
1969              float64
1970              float64
1971              float64
1972              float64
1973              float64
1974              float64
1975              float64
1976              float64
1977              float64
1978              float64
1979              float64
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
                   ...
1987              float64
1988              float64
1989              float64
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
Unnamed: 60       float64
dtype: object

In [19]:
df_co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 61 columns):
Country Name      248 non-null object
Country Code      248 non-null object
Indicator Name    248 non-null object
Indicator Code    248 non-null object
1960              178 non-null float64
1961              179 non-null float64
1962              180 non-null float64
1963              181 non-null float64
1964              186 non-null float64
1965              186 non-null float64
1966              186 non-null float64
1967              186 non-null float64
1968              185 non-null float64
1969              186 non-null float64
1970              188 non-null float64
1971              189 non-null float64
1972              192 non-null float64
1973              192 non-null float64
1974              192 non-null float64
1975              192 non-null float64
1976              192 non-null float64
1977              192 non-null float64
1978              192 non-null float64
1979              192 non-null float64
1980              192 non-null float64
1981              192 non-null float64
1982              192 non-null float64
1983              192 non-null float64
1984              192 non-null float64
1985              192 non-null float64
1986              193 non-null float64
1987              193 non-null float64
1988              193 non-null float64
1989              193 non-null float64
1990              195 non-null float64
1991              196 non-null float64
1992              219 non-null float64
1993              219 non-null float64
1994              220 non-null float64
1995              223 non-null float64
1996              222 non-null float64
1997              224 non-null float64
1998              226 non-null float64
1999              226 non-null float64
2000              227 non-null float64
2001              227 non-null float64
2002              228 non-null float64
2003              228 non-null float64
2004              228 non-null float64
2005              230 non-null float64
2006              231 non-null float64
2007              232 non-null float64
2008              232 non-null float64
2009              232 non-null float64
2010              232 non-null float64
2011              232 non-null float64
2012              0 non-null float64
2013              0 non-null float64
2014              0 non-null float64
2015              0 non-null float64
Unnamed: 60       0 non-null float64
dtypes: float64(57), object(4)
memory usage: 118.3+ KB

In [20]:
df_co2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,4.181153,4.373573,4.575251,4.764912,4.724500,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,23.195067,23.033600,21.102296,20.120957,20.433838,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,4.496834,4.744178,4.427960,4.342272,4.562049,NaN,NaN,NaN,NaN,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.694755,1.868611,1.469961,1.422998,1.671657,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,5.561525,5.628319,5.906292,6.011269,5.823804,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,17.467002,17.704080,17.631833,16.710904,16.519210,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.405093,8.262046,7.608851,8.127693,7.769983,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.555340,4.051383,3.565668,3.388226,3.647379,NaN,NaN,NaN,NaN,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,9.713718,9.699599,9.634776,9.989976,8.849398,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.516299,0.500183,0.514278,0.541771,0.509962,NaN,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.115429,0.115427,0.109774,0.107673,0.119981,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.319840,0.334440,0.352155,0.370360,0.372017,NaN,NaN,NaN,NaN,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,6.916687,6.778939,5.729716,5.966884,6.714383,NaN,NaN,NaN,NaN,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,21.443296,21.519995,18.136234,18.435025,17.947330,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,4.521354,2.998089,4.630520,6.829321,5.199844,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.580387,5.231547,5.371890,5.513994,6.196652,NaN,NaN,NaN,NaN,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.305629,6.592749,6.341939,6.556550,6.682510,NaN,NaN,NaN,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.536094,1.473196,1.495185,1.721709,1.670904,NaN,NaN,NaN,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,7.968299,5.955020,7.095329,7.320036,6.077210,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.318204,1.412189,1.459841,1.547659,1.599499,NaN,NaN,NaN,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.884034,1.990429,1.866522,2.113415,2.191394,NaN,NaN,NaN,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,5.178741,5.871114,5.833678,5.430338,5.580178,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,24.178409,26.338271,22.149029,21.873222,24.392013,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Togo,TGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,...,0.239677,0.285948,0.270614,0.269107,0.319444,NaN,NaN,NaN,NaN,NaN
219,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,3.994687,3.984060,4.198512,4.470426,4.534492,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,11.535622,11.557572,10.110661,11.358111,12.183667,NaN,NaN,NaN,NaN,NaN
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180962,0.185017,0.174891,0.171932,0.163648,NaN,NaN,NaN,NaN,NaN
223,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.112637,1.176967,1.276514,1.128883,0.983562,NaN,NaN,NaN,NaN,NaN
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,36.816763,35.455298,36.569448,38.337841,37.140054,NaN,NaN,NaN,NaN,NaN
225,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.357974,2.403508,2.374157,2.535619,2.402456,NaN,NaN,NaN,NaN,NaN
226,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,4.094889,4.055397,3.898959,4.121155,4.383105,NaN,NaN,NaN,NaN,NaN
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.144041,0.147982,0.139973,0.150059,0.154935,NaN,NaN,NaN,NaN,NaN
229,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.104293,0.101919,0.105320,0.108297,0.110887,NaN,NaN,NaN,NaN,NaN
230,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.910708,6.724046,5.647014,6.638152,6.262352,NaN,NaN,NaN,NaN,NaN
231,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,4.689536,4.838153,5.074765,5.359187,5.710564,NaN,NaN,NaN,NaN,NaN
232,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,1.796306,2.471054,2.401221,1.912605,2.296201,NaN,NaN,NaN,NaN,NaN
233,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.237460,18.489234,17.192379,17.484792,17.020216,NaN,NaN,NaN,NaN,NaN
234,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.391447,4.434466,3.912053,3.693268,3.914921,NaN,NaN,NaN,NaN,NaN
235,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,2.084879,2.116255,2.114512,2.146877,2.179923,NaN,NaN,NaN,NaN,NaN
236,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,5.868518,6.604892,6.525293,6.811756,6.416334,NaN,NaN,NaN,NaN,NaN
237,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,1.352791,1.497496,1.636371,1.761695,1.971889,NaN,NaN,NaN,NaN,NaN
239,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.433459,0.406839,0.508463,0.496591,0.591266,NaN,NaN,NaN,NaN,NaN
240,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.665297,0.570947,0.564578,0.534015,0.572407,NaN,NaN,NaN,NaN,NaN
241,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.686099,4.741797,4.663097,4.840412,4.944649,NaN,NaN,NaN,NaN,NaN
242,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,1.026224,1.039490,1.072106,1.103871,1.252110,NaN,NaN,NaN,NaN,NaN
243,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,0.981422,0.989905,1.026251,1.090060,0.919968,NaN,NaN,NaN,NaN,NaN
244,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,9.063326,9.506481,9.545495,8.957154,9.257216,NaN,NaN,NaN,NaN,NaN
245,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
246,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
247,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

In [21]:
df_co2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN

In [22]:
df_co2.head?

#### Exercise: show the first 3 rows of this dataframe

In [23]:
dir(df_co2)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__idiv__',
 '__imul__',
 '__init__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_nsorted',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combineAdd',
 'combineMult',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'icol',
 'idxmax',
 'idxmin',
 'iget_value',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'irow',
 'is_copy',
 'isin',
 'isnull',
 'iteritems',
 'iterkv',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_wide',
 'to_xarray',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [24]:
help(df_co2.shift)

Help on method shift in module pandas.core.frame:

shift(self, periods=1, freq=None, axis=0) method of pandas.core.frame.DataFrame instance
    Shift index by desired number of periods with an optional time freq

    Parameters
    ----------
    periods : int
        Number of periods to move, can be positive or negative
    freq : DateOffset, timedelta, or time rule string, optional
        Increment to use from datetools module or time rule (e.g. 'EOM').
        See Notes.
    axis : {0, 1, 'index', 'columns'}

    Notes
    -----
    If freq is specified then the index values are shifted but the data
    is not realigned. That is, use freq if you would like to extend the
    index when shifting and preserve the original data.

    Returns
    -------
    shifted : DataFrame

In [25]:
df_co2.columns

Index([  u'Country Name',   u'Country Code', u'Indicator Name',
       u'Indicator Code',           u'1960',           u'1961',
                 u'1962',           u'1963',           u'1964',
                 u'1965',           u'1966',           u'1967',
                 u'1968',           u'1969',           u'1970',
                 u'1971',           u'1972',           u'1973',
                 u'1974',           u'1975',           u'1976',
                 u'1977',           u'1978',           u'1979',
                 u'1980',           u'1981',           u'1982',
                 u'1983',           u'1984',           u'1985',
                 u'1986',           u'1987',           u'1988',
                 u'1989',           u'1990',           u'1991',
                 u'1992',           u'1993',           u'1994',
                 u'1995',           u'1996',           u'1997',
                 u'1998',           u'1999',           u'2000',
                 u'2001',           u'2002',           u'2003',
                 u'2004',           u'2005',           u'2006',
                 u'2007',           u'2008',           u'2009',
                 u'2010',           u'2011',           u'2012',
                 u'2013',           u'2014',           u'2015',
          u'Unnamed: 60'],
      dtype='object')

In [26]:
df_co2.columns[0]

u'Country Name'

In [27]:
#Indexing in Python
list1 = [1,2,3,4,5]
first_element = list1[0]
second_element = list1[1]
last_element = list1[-1]
print(first_element)
print(second_element)
print(last_element)

1
2
5

## Subsetting

In [28]:
#select columns
#by name
df_co2['Country Name'].head()

0          Aruba
1        Andorra
2    Afghanistan
3         Angola
4        Albania
Name: Country Name, dtype: object

In [29]:
df_co2[['Country Name', 'Country Code']].head()

  Country Name Country Code
0        Aruba          ABW
1      Andorra          AND
2  Afghanistan          AFG
3       Angola          AGO
4      Albania          ALB

### Exercise: show the first 2 rows of the column named 1960

In [30]:
#select rows
df_co2[0:2]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

#### pay attention to 0:2

In [31]:
#select row and columns
df_co2['Country Name'][0:2]

0      Aruba
1    Andorra
Name: Country Name, dtype: object

#### better ways to subset

In [32]:
#loc uses row column strings 
df_co2.loc[0:2]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN

In [33]:
df_co2.loc[0:2,'Country Name']

0          Aruba
1        Andorra
2    Afghanistan
Name: Country Name, dtype: object

In [34]:
#iloc uses only index position
df_co2.iloc[0:2, 0]

0      Aruba
1    Andorra
Name: Country Name, dtype: object

In [35]:
#ix uses a mix of row index and column labels
df_co2.ix[0:2, 'Country Name']

0          Aruba
1        Andorra
2    Afghanistan
Name: Country Name, dtype: object

### exercise: select the last 5 rows of the last 2 columns

In [36]:
df_co2.iloc[-5:,-2:]

     2015  Unnamed: 60
243   NaN          NaN
244   NaN          NaN
245   NaN          NaN
246   NaN          NaN
247   NaN          NaN

In [37]:
df_co2.columns

Index([  u'Country Name',   u'Country Code', u'Indicator Name',
       u'Indicator Code',           u'1960',           u'1961',
                 u'1962',           u'1963',           u'1964',
                 u'1965',           u'1966',           u'1967',
                 u'1968',           u'1969',           u'1970',
                 u'1971',           u'1972',           u'1973',
                 u'1974',           u'1975',           u'1976',
                 u'1977',           u'1978',           u'1979',
                 u'1980',           u'1981',           u'1982',
                 u'1983',           u'1984',           u'1985',
                 u'1986',           u'1987',           u'1988',
                 u'1989',           u'1990',           u'1991',
                 u'1992',           u'1993',           u'1994',
                 u'1995',           u'1996',           u'1997',
                 u'1998',           u'1999',           u'2000',
                 u'2001',           u'2002',           u'2003',
                 u'2004',           u'2005',           u'2006',
                 u'2007',           u'2008',           u'2009',
                 u'2010',           u'2011',           u'2012',
                 u'2013',           u'2014',           u'2015',
          u'Unnamed: 60'],
      dtype='object')

### Boolean Indexing

In [38]:
20 > 10

True

In [39]:
'a' == 'b'

False

In [40]:
20 > 10 and 'a' == 'b'

False

In [41]:
20 > 10 or 'a' == 'b'

True

In [42]:
#selecting rows following a criterium
df_co2['Country Name'] == 'Canada'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
Name: Country Name, dtype: bool

In [43]:
df_co2[df_co2['Country Name'] == 'Canada']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
33,Canada,CAN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.770847,10.627898,11.130627,11.132102,12.30537,12.814001,...,17.0519,16.366165,15.089098,14.589054,14.135813,NaN,NaN,NaN,NaN,NaN

In [44]:
df_co2[(df_co2['1960'] > 10) & 
       (df_co2['1960'] < 12)]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
33,Canada,CAN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.770847,10.627898,11.130627,11.132102,12.305370,12.814001,...,17.051900,16.366165,15.089098,14.589054,14.135813,NaN,NaN,NaN,NaN,NaN
77,United Kingdom,GBR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,11.150759,11.154139,11.142928,11.254853,11.265839,11.456160,...,8.615489,8.437773,7.599000,7.841653,7.085732,NaN,NaN,NaN,NaN,NaN
162,New Caledonia,NCL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.908165,10.928744,6.771199,7.231307,12.486947,13.614497,...,12.325560,13.531310,11.570830,15.680092,15.173295,NaN,NaN,NaN,NaN,NaN

In [45]:
df_co2[(df_co2['1960'] > 15) | 
       (df_co2['1960'] < 0.1)]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.516299,0.500183,0.514278,0.541771,0.509962,NaN,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.115429,0.115427,0.109774,0.107673,0.119981,NaN,NaN,NaN,NaN,NaN
32,Central African Republic,CAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.058535,0.057551,0.047114,0.046249,0.045369,0.053376,...,0.055850,0.054828,0.053809,0.059398,0.063128,NaN,NaN,NaN,NaN,NaN
40,Cameroon,CMR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.050614,0.051577,0.051789,0.052577,0.057665,0.052056,...,0.305806,0.283310,0.332458,0.325727,0.268092,NaN,NaN,NaN,NaN,NaN
43,Comoros,COM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.058289,0.057348,0.056427,0.055503,0.054551,0.071408,...,0.180695,0.181858,0.177476,0.188941,0.220233,NaN,NaN,NaN,NaN,NaN
68,Ethiopia,ETH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.015892,0.015043,0.017055,0.017720,0.016684,0.025802,...,0.073121,0.076668,0.076906,0.075592,0.083943,NaN,NaN,NaN,NaN,NaN
81,"Gambia, The",GMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.049833,0.058402,0.066929,0.075400,0.074353,0.073182,...,0.257765,0.258834,0.266260,0.279411,0.241098,NaN,NaN,NaN,NaN,NaN
82,Guinea-Bissau,GNB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.029745,0.047057,0.064030,0.074885,0.091111,0.101148,...,0.151257,0.145619,0.146971,0.145855,0.146811,NaN,NaN,NaN,NaN,NaN
83,Equatorial Guinea,GNQ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.087270,0.086249,0.085299,0.098352,0.096958,0.108883,...,7.204041,6.562118,6.533815,6.421062,8.907242,NaN,NaN,NaN,NaN,NaN
95,Haiti,HTI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.073982,0.075323,0.075663,0.060763,0.071822,0.071260,...,0.250172,0.250131,0.229631,0.211961,0.217962,NaN,NaN,NaN,NaN,NaN
113,Cambodia,KHM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.041012,0.048708,0.051111,0.062885,0.053880,0.062372,...,0.253749,0.285282,0.292181,0.291551,0.308073,NaN,NaN,NaN,NaN,NaN
118,Kuwait,KWT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,29.788198,33.877301,42.637118,44.609490,58.732730,73.458184,...,29.636849,30.581264,29.721704,29.693433,28.102662,NaN,NaN,NaN,NaN,NaN
120,Lao PDR,LAO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.038055,0.052403,0.059466,0.064558,0.074105,0.075463,...,0.158049,0.161955,0.160312,0.203249,0.188911,NaN,NaN,NaN,NaN,NaN
126,Least developed countries: UN classification,LDC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.098312,0.093426,0.102146,0.096347,0.104345,0.115768,...,0.235666,0.241047,0.253355,0.263975,0.268707,NaN,NaN,NaN,NaN,NaN
134,Luxembourg,LUX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,36.685183,36.583778,36.012627,35.323585,37.548290,36.813804,...,22.964922,22.385472,20.877125,21.635136,20.897812,NaN,NaN,NaN,NaN,NaN
141,Madagascar,MDG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.078383,0.068094,0.073988,0.084213,0.086046,0.096613,...,0.093705,0.099741,0.092499,0.098983,0.112993,NaN,NaN,NaN,NaN,NaN
148,Mali,MLI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.022990,0.022048,0.025894,0.032346,0.031981,0.035560,...,0.073291,0.075282,0.078109,0.081477,0.079956,NaN,NaN,NaN,NaN,NaN
156,Mauritania,MRT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.042730,0.053974,0.068567,0.094024,0.121758,0.162589,...,0.554190,0.567037,0.608387,0.595272,0.627225,NaN,NaN,NaN,NaN,NaN
160,North America,NAC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.525529,15.221533,15.568094,15.992467,16.538627,17.022088,...,19.020186,18.277615,16.982687,17.196128,16.731986,NaN,NaN,NaN,NaN,NaN
163,Niger,NER,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.008640,0.015744,0.018352,0.023766,0.025012,0.023377,...,0.056541,0.060772,0.073470,0.083054,0.083958,NaN,NaN,NaN,NaN,NaN
164,Nigeria,NGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.075349,0.089163,0.088722,0.111164,0.147963,0.234157,...,0.647290,0.613328,0.462536,0.534554,0.537498,NaN,NaN,NaN,NaN,NaN
169,Nepal,NPL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.008022,0.007897,0.008481,0.009390,0.014025,0.016477,...,0.105099,0.114502,0.136103,0.161138,0.159474,NaN,NaN,NaN,NaN,NaN
180,Papua New Guinea,PNG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.091351,0.100790,0.097203,0.123668,0.126458,0.140836,...,0.958161,0.733370,0.760923,0.681185,0.746895,NaN,NaN,NaN,NaN,NaN
191,Rwanda,RWA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.036252,0.046509,0.027647,0.027181,0.011598,0.014745,...,0.058789,0.055661,0.057431,0.057354,0.062874,NaN,NaN,NaN,NaN,NaN
197,Solomon Islands,SLB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.093332,0.120821,0.117280,0.113826,0.138078,0.187574,...,0.387510,0.378785,0.377551,0.376333,0.368304,NaN,NaN,NaN,NaN,NaN
201,Somalia,SOM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.030598,0.031267,0.036990,0.034955,0.045194,0.043007,...,0.068327,0.065851,0.063881,0.063912,0.058707,NaN,NaN,NaN,NaN,NaN
212,Swaziland,SWZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.094501,0.010257,NaN,NaN,0.028755,0.205980,...,0.937064,0.950321,0.890557,0.869767,0.864988,NaN,NaN,NaN,NaN,NaN
217,Chad,TCD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,...,0.042863,0.045756,0.042689,0.043463,0.043830,NaN,NaN,NaN,NaN,NaN
218,Togo,TGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,...,0.239677,0.285948,0.270614,0.269107,0.319444,NaN,NaN,NaN,NaN,NaN
228,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.144041,0.147982,0.139973,0.150059,0.154935,NaN,NaN,NaN,NaN,NaN
229,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.104293,0.101919,0.105320,0.108297,0.110887,NaN,NaN,NaN,NaN,NaN
233,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.237460,18.489234,17.192379,17.484792,17.020216,NaN,NaN,NaN,NaN,NaN

### how do you select the rows from Canada and Brazil?

In [46]:
df_co2[(df_co2['Country Name'] == 'Canada') | 
       (df_co2['Country Name'] == 'Brazil')]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.884034,1.990429,1.866522,2.113415,2.191394,NaN,NaN,NaN,NaN,NaN
33,Canada,CAN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.770847,10.627898,11.130627,11.132102,12.305370,12.814001,...,17.051900,16.366165,15.089098,14.589054,14.135813,NaN,NaN,NaN,NaN,NaN

In [47]:
#check number of countries
df_co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 61 columns):
Country Name      248 non-null object
Country Code      248 non-null object
Indicator Name    248 non-null object
Indicator Code    248 non-null object
1960              178 non-null float64
1961              179 non-null float64
1962              180 non-null float64
1963              181 non-null float64
1964              186 non-null float64
1965              186 non-null float64
1966              186 non-null float64
1967              186 non-null float64
1968              185 non-null float64
1969              186 non-null float64
1970              188 non-null float64
1971              189 non-null float64
1972              192 non-null float64
1973              192 non-null float64
1974              192 non-null float64
1975              192 non-null float64
1976              192 non-null float64
1977              192 non-null float64
1978              192 non-null float64
1979              192 non-null float64
1980              192 non-null float64
1981              192 non-null float64
1982              192 non-null float64
1983              192 non-null float64
1984              192 non-null float64
1985              192 non-null float64
1986              193 non-null float64
1987              193 non-null float64
1988              193 non-null float64
1989              193 non-null float64
1990              195 non-null float64
1991              196 non-null float64
1992              219 non-null float64
1993              219 non-null float64
1994              220 non-null float64
1995              223 non-null float64
1996              222 non-null float64
1997              224 non-null float64
1998              226 non-null float64
1999              226 non-null float64
2000              227 non-null float64
2001              227 non-null float64
2002              228 non-null float64
2003              228 non-null float64
2004              228 non-null float64
2005              230 non-null float64
2006              231 non-null float64
2007              232 non-null float64
2008              232 non-null float64
2009              232 non-null float64
2010              232 non-null float64
2011              232 non-null float64
2012              0 non-null float64
2013              0 non-null float64
2014              0 non-null float64
2015              0 non-null float64
Unnamed: 60       0 non-null float64
dtypes: float64(57), object(4)
memory usage: 118.3+ KB

In [48]:
df_co2['Country Name'].unique()

array([u'Aruba', u'Andorra', u'Afghanistan', u'Angola', u'Albania',
       u'Arab World', u'United Arab Emirates', u'Argentina', u'Armenia',
       u'American Samoa', u'Antigua and Barbuda', u'Australia', u'Austria',
       u'Azerbaijan', u'Burundi', u'Belgium', u'Benin', u'Burkina Faso',
       u'Bangladesh', u'Bulgaria', u'Bahrain', u'Bahamas, The',
       u'Bosnia and Herzegovina', u'Belarus', u'Belize', u'Bermuda',
       u'Bolivia', u'Brazil', u'Barbados', u'Brunei Darussalam', u'Bhutan',
       u'Botswana', u'Central African Republic', u'Canada',
       u'Central Europe and the Baltics', u'Switzerland',
       u'Channel Islands', u'Chile', u'China', u"Cote d'Ivoire",
       u'Cameroon', u'Congo, Rep.', u'Colombia', u'Comoros', u'Cabo Verde',
       u'Costa Rica', u'Caribbean small states', u'Cuba', u'Curacao',
       u'Cayman Islands', u'Cyprus', u'Czech Republic', u'Germany',
       u'Djibouti', u'Dominica', u'Denmark', u'Dominican Republic',
       u'Algeria', u'East Asia & Pacific (developing only)',
       u'East Asia & Pacific (all income levels)',
       u'Europe & Central Asia (developing only)',
       u'Europe & Central Asia (all income levels)', u'Ecuador',
       u'Egypt, Arab Rep.', u'Euro area', u'Eritrea', u'Spain', u'Estonia',
       u'Ethiopia', u'European Union',
       u'Fragile and conflict affected situations', u'Finland', u'Fiji',
       u'France', u'Faeroe Islands', u'Micronesia, Fed. Sts.', u'Gabon',
       u'United Kingdom', u'Georgia', u'Ghana', u'Guinea', u'Gambia, The',
       u'Guinea-Bissau', u'Equatorial Guinea', u'Greece', u'Grenada',
       u'Greenland', u'Guatemala', u'Guam', u'Guyana', u'High income',
       u'Hong Kong SAR, China', u'Honduras',
       u'Heavily indebted poor countries (HIPC)', u'Croatia', u'Haiti',
       u'Hungary', u'Indonesia', u'Isle of Man', u'India',
       u'Not classified', u'Ireland', u'Iran, Islamic Rep.', u'Iraq',
       u'Iceland', u'Israel', u'Italy', u'Jamaica', u'Jordan', u'Japan',
       u'Kazakhstan', u'Kenya', u'Kyrgyz Republic', u'Cambodia',
       u'Kiribati', u'St. Kitts and Nevis', u'Korea, Rep.', u'Kosovo',
       u'Kuwait', u'Latin America & Caribbean (developing only)',
       u'Lao PDR', u'Lebanon', u'Liberia', u'Libya', u'St. Lucia',
       u'Latin America & Caribbean (all income levels)',
       u'Least developed countries: UN classification', u'Low income',
       u'Liechtenstein', u'Sri Lanka', u'Lower middle income',
       u'Low & middle income', u'Lesotho', u'Lithuania', u'Luxembourg',
       u'Latvia', u'Macao SAR, China', u'St. Martin (French part)',
       u'Morocco', u'Monaco', u'Moldova', u'Madagascar', u'Maldives',
       u'Middle East & North Africa (all income levels)', u'Mexico',
       u'Marshall Islands', u'Middle income', u'Macedonia, FYR', u'Mali',
       u'Malta', u'Myanmar',
       u'Middle East & North Africa (developing only)', u'Montenegro',
       u'Mongolia', u'Northern Mariana Islands', u'Mozambique',
       u'Mauritania', u'Mauritius', u'Malawi', u'Malaysia',
       u'North America', u'Namibia', u'New Caledonia', u'Niger',
       u'Nigeria', u'Nicaragua', u'Netherlands', u'High income: nonOECD',
       u'Norway', u'Nepal', u'New Zealand', u'High income: OECD',
       u'OECD members', u'Oman', u'Other small states', u'Pakistan',
       u'Panama', u'Peru', u'Philippines', u'Palau', u'Papua New Guinea',
       u'Poland', u'Puerto Rico', u'Korea, Dem. Rep.', u'Portugal',
       u'Paraguay', u'Pacific island small states', u'French Polynesia',
       u'Qatar', u'Romania', u'Russian Federation', u'Rwanda',
       u'South Asia', u'Saudi Arabia', u'Sudan', u'Senegal', u'Singapore',
       u'Solomon Islands', u'Sierra Leone', u'El Salvador', u'San Marino',
       u'Somalia', u'Serbia', u'Sub-Saharan Africa (developing only)',
       u'South Sudan', u'Sub-Saharan Africa (all income levels)',
       u'Small states', u'Sao Tome and Principe', u'Suriname',
       u'Slovak Republic', u'Slovenia', u'Sweden', u'Swaziland',
       u'Sint Maarten (Dutch part)', u'Seychelles',
       u'Syrian Arab Republic', u'Turks and Caicos Islands', u'Chad',
       u'Togo', u'Thailand', u'Tajikistan', u'Turkmenistan',
       u'Timor-Leste', u'Tonga', u'Trinidad and Tobago', u'Tunisia',
       u'Turkey', u'Tuvalu', u'Tanzania', u'Uganda', u'Ukraine',
       u'Upper middle income', u'Uruguay', u'United States', u'Uzbekistan',
       u'St. Vincent and the Grenadines', u'Venezuela, RB',
       u'Virgin Islands (U.S.)', u'Vietnam', u'Vanuatu',
       u'West Bank and Gaza', u'World', u'Samoa', u'Yemen, Rep.',
       u'South Africa', u'Congo, Dem. Rep.', u'Zambia', u'Zimbabwe'], dtype=object)

### Remove empty columns

In [49]:
df_co2.columns[-5:]

Index([u'2012', u'2013', u'2014', u'2015', u'Unnamed: 60'], dtype='object')

In [50]:
df_co2.columns

Index([  u'Country Name',   u'Country Code', u'Indicator Name',
       u'Indicator Code',           u'1960',           u'1961',
                 u'1962',           u'1963',           u'1964',
                 u'1965',           u'1966',           u'1967',
                 u'1968',           u'1969',           u'1970',
                 u'1971',           u'1972',           u'1973',
                 u'1974',           u'1975',           u'1976',
                 u'1977',           u'1978',           u'1979',
                 u'1980',           u'1981',           u'1982',
                 u'1983',           u'1984',           u'1985',
                 u'1986',           u'1987',           u'1988',
                 u'1989',           u'1990',           u'1991',
                 u'1992',           u'1993',           u'1994',
                 u'1995',           u'1996',           u'1997',
                 u'1998',           u'1999',           u'2000',
                 u'2001',           u'2002',           u'2003',
                 u'2004',           u'2005',           u'2006',
                 u'2007',           u'2008',           u'2009',
                 u'2010',           u'2011',           u'2012',
                 u'2013',           u'2014',           u'2015',
          u'Unnamed: 60'],
      dtype='object')

In [51]:
df_co2.shape

(248, 61)

In [52]:
df_co2.drop(df_co2.columns[-5:], axis = 1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,24.975515,24.909066,24.510543,24.964531,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,7.484095,7.159140,7.208829,7.088128,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.041641,0.046108,0.040727,0.054855,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,0.786223,0.543084,1.086605,1.069417,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.229541,1.412697,1.376213,1.412498,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,3.579922,3.797800,4.094269,4.206789,4.285595,4.181153,4.373573,4.575251,4.764912,4.724500
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,24.956551,29.467089,28.481437,25.914587,23.954519,23.195067,23.033600,21.102296,20.120957,20.433838
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,3.253313,3.475035,4.032407,4.111635,4.404525,4.496834,4.744178,4.427960,4.342272,4.562049
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.998806,1.129174,1.204567,1.443731,1.459637,1.694755,1.868611,1.469961,1.422998,1.671657
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,4.536211,4.804484,4.980996,4.974311,5.096290,5.561525,5.628319,5.906292,6.011269,5.823804
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,17.372318,16.906198,17.030341,17.174386,17.293874,17.467002,17.704080,17.631833,16.710904,16.519210
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.287319,8.874662,8.844004,9.027746,8.733507,8.405093,8.262046,7.608851,8.127693,7.769983
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.623944,3.718170,3.863230,4.091802,4.616300,3.555340,4.051383,3.565668,3.388226,3.647379
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.029705,0.021800,0.025845,0.019411,0.022757,0.021964,0.021615,0.020868,0.020542,0.021350
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,10.364911,11.041147,10.642641,10.335096,10.122879,9.713718,9.699599,9.634776,9.989976,8.849398
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.280413,0.307111,0.316584,0.292648,0.458608,0.516299,0.500183,0.514278,0.541771,0.509962
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.081748,0.085214,0.084722,0.083875,0.098340,0.115429,0.115427,0.109774,0.107673,0.119981
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.247430,0.244466,0.282230,0.262742,0.332346,0.319840,0.334440,0.352155,0.370360,0.372017
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,5.672607,6.046862,6.012888,6.189919,6.357101,6.916687,6.778939,5.729716,5.966884,6.714383
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,21.642107,21.623694,21.670994,22.153905,20.014759,21.443296,21.519995,18.136234,18.435025,17.947330
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,5.100139,4.807931,5.343509,4.856024,4.531866,4.521354,2.998089,4.630520,6.829321,5.199844
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.755251,3.795423,4.080225,4.227206,4.575983,4.580387,5.231547,5.371890,5.513994,6.196652
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,5.310738,5.483469,5.964811,6.112426,6.437868,6.305629,6.592749,6.341939,6.556550,6.682510
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.398540,1.430655,1.434471,1.462766,1.488236,1.536094,1.473196,1.495185,1.721709,1.670904
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,8.335151,8.049159,10.528099,6.916280,8.070208,7.968299,5.955020,7.095329,7.320036,6.077210
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.105608,1.603664,1.458991,1.322472,1.586749,1.318204,1.412189,1.459841,1.547659,1.599499
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.835266,1.751491,1.815133,1.842690,1.823133,1.884034,1.990429,1.866522,2.113415,2.191394
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,4.525009,4.660168,4.739999,4.938171,4.986395,5.178741,5.871114,5.833678,5.430338,5.580178
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,14.139046,13.952260,13.628828,12.767506,11.604115,24.178409,26.338271,22.149029,21.873222,24.392013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Togo,TGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,...,0.239598,0.276938,0.257366,0.239943,0.213028,0.239677,0.285948,0.270614,0.269107,0.319444
219,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,3.367423,3.582350,3.858213,3.889369,3.992198,3.994687,3.984060,4.198512,4.470426,4.534492
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293634,0.317704,0.384487,0.358852,0.382553,0.463345,0.409462,0.382775,0.373873,0.358948
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,8.727931,9.054611,9.206388,9.584881,9.722725,11.535622,11.557572,10.110661,11.358111,12.183667
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180310,0.173599,0.182848,0.179755,0.180395,0.180962,0.185017,0.174891,0.171932,0.163648
223,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.037079,1.178082,1.097619,1.127099,1.264396,1.112637,1.176967,1.276514,1.128883,0.983562
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,21.304551,21.729808,23.876765,22.755236,35.630491,36.816763,35.455298,36.569448,38.337841,37.140054
225,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.139889,2.159251,2.245079,2.259653,2.270173,2.357974,2.403508,2.374157,2.535619,2.402456
226,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,3.158284,3.307954,3.365828,3.498208,3.807814,4.094889,4.055397,3.898959,4.121155,4.383105
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.100124,0.103248,0.115031,0.140895,0.149737,0.144041,0.147982,0.139973,0.150059,0.154935
229,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.065803,0.065178,0.068296,0.081467,0.091546,0.104293,0.101919,0.105320,0.108297,0.110887
230,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.611441,7.367447,7.231049,7.087746,6.977981,6.910708,6.724046,5.647014,6.638152,6.262352
231,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,3.124241,3.543526,3.951929,4.192119,4.503715,4.689536,4.838153,5.074765,5.359187,5.710564
232,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,1.388443,1.382718,1.687830,1.736682,1.995854,1.796306,2.471054,2.401221,1.912605,2.296201
233,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.639196,19.576239,19.683581,19.610275,19.116139,19.237460,18.489234,17.192379,17.484792,17.020216
234,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,5.067983,4.833370,4.652167,4.313738,4.436685,4.391447,4.434466,3.912053,3.693268,3.914921
235,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,1.729237,1.827510,2.026657,2.023191,2.020237,2.084879,2.116255,2.114512,2.146877,2.179923
236,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,7.611159,7.429285,5.766145,6.167394,6.227287,5.868518,6.604892,6.525293,6.811756,6.416334
237,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,0.890221,0.978870,1.111901,1.191177,1.233276,1.352791,1.497496,1.636371,1.761695,1.971889
239,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.434844,0.405472,0.269442,0.262710,0.222103,0.433459,0.406839,0.508463,0.496591,0.591266
240,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.375598,0.405640,0.576682,0.826081,0.665292,0.665297,0.570947,0.564578,0.534015,0.572407
241,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.086042,4.273322,4.436231,4.545893,4.649744,4.686099,4.741797,4.663097,4.840412,4.944649
242,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,0.809850,0.846182,0.902424,0.937497,0.972077,1.026224,1.039490,1.072106,1.103871,1.252110
243,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,0.837104,0.893185,0.947308,0.977538,0.985853,0.981422,0.989905,1.026251,1.090060,0.919968
244,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,7.633688,8.255693,9.090418,8.275124,8.802475,9.063326,9.506481,9.545495,8.957154,9.257216
245,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.034964,0.035414,0.039361,0.044326,0.045579,0.047312,0.048411,0.045604,0.049328,0.050303
246,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.176767,0.183895,0.181385,0.189080,0.179774,0.150265,0.164692,0.184058,0.192079,0.212450
247,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.940195,0.831911,0.766581,0.825218,0.780721,0.731867,0.569255,0.600521,0.646073,0.691698

In [53]:
df_co2.drop(df_co2.columns[-5:], axis = 1).shape

(248, 56)

In [54]:
df_co2 = df_co2.drop(df_co2.columns[-5:], axis = 1)

### ex: remove column "Indicator Code"

In [55]:
df_co2 = df_co2.drop('Indicator Code', axis = 1)

### Check dataframe again

In [56]:
df_co2.head()

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Aruba,ABW,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.975515,24.909066,24.510543,24.964531,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412
1,Andorra,AND,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.484095,7.159140,7.208829,7.088128,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,...,0.041641,0.046108,0.040727,0.054855,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262
3,Angola,AGO,CO2 emissions (metric tons per capita),0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,...,0.786223,0.543084,1.086605,1.069417,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008
4,Albania,ALB,CO2 emissions (metric tons per capita),1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,...,1.229541,1.412697,1.376213,1.412498,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038

## Remove rows without any data

In [57]:
df_co2.mean(axis = 1)

0      21.766264
1       6.926680
2       0.139113
3       0.610377
4       1.657433
5       2.874468
6      31.844877
7       3.563240
8       1.230824
9            NaN
10      5.106829
11     14.364944
12      7.200894
13      4.257653
14      0.032397
15     11.372211
16      0.184605
17      0.060372
18      0.174804
19      7.181894
20     19.867874
21     12.989496
22      3.336662
23      6.194563
24      1.384584
25      7.125285
26      0.906155
27      1.406963
28      3.143447
29     21.497854
         ...
218     0.197678
219     1.726478
220     0.459464
221     8.943359
222     0.177336
223     0.630603
224    15.802071
225     1.482407
226     2.310214
227          NaN
228     0.114896
229     0.073733
230     7.434661
231     2.542205
232     1.742226
233    19.303472
234     4.623481
235     0.870765
236     5.959301
237          NaN
238     0.598837
239     0.517542
240     0.471235
241     4.088235
242     0.612593
243     0.737396
244     8.230187
245     0.104890
246     0.495172
247     1.228627
dtype: float64

### Missing values

In [58]:
import numpy as np

In [59]:
np.nan

nan

In [60]:
type(np.nan)

float

In [61]:
np.nan == np.nan

False

In [62]:
np.isnan(np.nan)

True

In [63]:
df_co2.mean(axis = 1).isnull()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227     True
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237     True
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
dtype: bool

In [64]:
df_co2[df_co2.mean(axis = 1).isnull()]

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
9,American Samoa,ASM,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Channel Islands,CHI,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Curacao,CUW,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Guam,GUM,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Isle of Man,IMN,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Not classified,INX,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,Kosovo,KSV,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,St. Martin (French part),MAF,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Monaco,MCO,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Northern Mariana Islands,MNP,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Puerto Rico,PRI,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,San Marino,SMR,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,South Sudan,SSD,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,Sint Maarten (Dutch part),SXM,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df_co2[df_co2.mean(axis = 1).isnull()].shape

(16, 55)

In [66]:
removed_rows_nan = df_co2[df_co2.mean(axis = 1).isnull()]

In [67]:
df_co2[df_co2.mean(axis = 1).notnull()]

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Aruba,ABW,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.975515,24.909066,24.510543,24.964531,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412
1,Andorra,AND,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.484095,7.159140,7.208829,7.088128,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,...,0.041641,0.046108,0.040727,0.054855,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262
3,Angola,AGO,CO2 emissions (metric tons per capita),0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,...,0.786223,0.543084,1.086605,1.069417,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008
4,Albania,ALB,CO2 emissions (metric tons per capita),1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,...,1.229541,1.412697,1.376213,1.412498,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038
5,Arab World,ARB,CO2 emissions (metric tons per capita),0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,1.273618,...,3.579922,3.797800,4.094269,4.206789,4.285595,4.181153,4.373573,4.575251,4.764912,4.724500
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,0.159359,...,24.956551,29.467089,28.481437,25.914587,23.954519,23.195067,23.033600,21.102296,20.120957,20.433838
7,Argentina,ARG,CO2 emissions (metric tons per capita),2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,2.792654,...,3.253313,3.475035,4.032407,4.111635,4.404525,4.496834,4.744178,4.427960,4.342272,4.562049
8,Armenia,ARM,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.998806,1.129174,1.204567,1.443731,1.459637,1.694755,1.868611,1.469961,1.422998,1.671657
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,5.727992,...,4.536211,4.804484,4.980996,4.974311,5.096290,5.561525,5.628319,5.906292,6.011269,5.823804
11,Australia,AUS,CO2 emissions (metric tons per capita),8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,...,17.372318,16.906198,17.030341,17.174386,17.293874,17.467002,17.704080,17.631833,16.710904,16.519210
12,Austria,AUT,CO2 emissions (metric tons per capita),4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,...,8.287319,8.874662,8.844004,9.027746,8.733507,8.405093,8.262046,7.608851,8.127693,7.769983
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.623944,3.718170,3.863230,4.091802,4.616300,3.555340,4.051383,3.565668,3.388226,3.647379
14,Burundi,BDI,CO2 emissions (metric tons per capita),NaN,NaN,0.015203,0.016155,0.015827,0.011910,0.015115,...,0.029705,0.021800,0.025845,0.019411,0.022757,0.021964,0.021615,0.020868,0.020542,0.021350
15,Belgium,BEL,CO2 emissions (metric tons per capita),9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,...,10.364911,11.041147,10.642641,10.335096,10.122879,9.713718,9.699599,9.634776,9.989976,8.849398
16,Benin,BEN,CO2 emissions (metric tons per capita),0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,0.042395,...,0.280413,0.307111,0.316584,0.292648,0.458608,0.516299,0.500183,0.514278,0.541771,0.509962
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,...,0.081748,0.085214,0.084722,0.083875,0.098340,0.115429,0.115427,0.109774,0.107673,0.119981
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.247430,0.244466,0.282230,0.262742,0.332346,0.319840,0.334440,0.352155,0.370360,0.372017
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,...,5.672607,6.046862,6.012888,6.189919,6.357101,6.916687,6.778939,5.729716,5.966884,6.714383
20,Bahrain,BHR,CO2 emissions (metric tons per capita),3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,3.384358,...,21.642107,21.623694,21.670994,22.153905,20.014759,21.443296,21.519995,18.136234,18.435025,17.947330
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,7.466085,...,5.100139,4.807931,5.343509,4.856024,4.531866,4.521354,2.998089,4.630520,6.829321,5.199844
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.755251,3.795423,4.080225,4.227206,4.575983,4.580387,5.231547,5.371890,5.513994,6.196652
23,Belarus,BLR,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.310738,5.483469,5.964811,6.112426,6.437868,6.305629,6.592749,6.341939,6.556550,6.682510
24,Belize,BLZ,CO2 emissions (metric tons per capita),0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,0.737800,...,1.398540,1.430655,1.434471,1.462766,1.488236,1.536094,1.473196,1.495185,1.721709,1.670904
25,Bermuda,BMU,CO2 emissions (metric tons per capita),3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,...,8.335151,8.049159,10.528099,6.916280,8.070208,7.968299,5.955020,7.095329,7.320036,6.077210
26,Bolivia,BOL,CO2 emissions (metric tons per capita),0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,0.407085,...,1.105608,1.603664,1.458991,1.322472,1.586749,1.318204,1.412189,1.459841,1.547659,1.599499
27,Brazil,BRA,CO2 emissions (metric tons per capita),0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,0.743448,...,1.835266,1.751491,1.815133,1.842690,1.823133,1.884034,1.990429,1.866522,2.113415,2.191394
28,Barbados,BRB,CO2 emissions (metric tons per capita),0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,1.134077,...,4.525009,4.660168,4.739999,4.938171,4.986395,5.178741,5.871114,5.833678,5.430338,5.580178
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,4.573085,...,14.139046,13.952260,13.628828,12.767506,11.604115,24.178409,26.338271,22.149029,21.873222,24.392013
30,Bhutan,BTN,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.698568,0.612680,0.485669,0.608198,0.588330,0.575768,0.606779,0.549146,0.677145,0.766206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Turks and Caicos Islands,TCA,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.554232,4.385614,4.102937,4.575085,5.173757,5.762099,6.094875,5.940523,6.152486,6.010149
217,Chad,TCD,CO2 emissions (metric tons per capita),0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,0.025001,...,0.018738,0.040773,0.038896,0.039701,0.039050,0.042863,0.045756,0.042689,0.043463,0.043830
218,Togo,TGO,CO2 emissions (metric tons per capita),0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,...,0.239598,0.276938,0.257366,0.239943,0.213028,0.239677,0.285948,0.270614,0.269107,0.319444
219,Thailand,THA,CO2 emissions (metric tons per capita),0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,...,3.367423,3.582350,3.858213,3.889369,3.992198,3.994687,3.984060,4.198512,4.470426,4.534492
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293634,0.317704,0.384487,0.358852,0.382553,0.463345,0.409462,0.382775,0.373873,0.358948
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.727931,9.054611,9.206388,9.584881,9.722725,11.535622,11.557572,10.110661,11.358111,12.183667
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180310,0.173599,0.182848,0.179755,0.180395,0.180962,0.185017,0.174891,0.171932,0.163648
223,Tonga,TON,CO2 emissions (metric tons per capita),0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,0.143266,...,1.037079,1.178082,1.097619,1.127099,1.264396,1.112637,1.176967,1.276514,1.128883,0.983562
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,4.408841,...,21.304551,21.729808,23.876765,22.755236,35.630491,36.816763,35.455298,36.569448,38.337841,37.140054
225,Tunisia,TUN,CO2 emissions (metric tons per capita),0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,0.609953,...,2.139889,2.159251,2.245079,2.259653,2.270173,2.357974,2.403508,2.374157,2.535619,2.402456
226,Turkey,TUR,CO2 emissions (metric tons per capita),0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,0.994607,...,3.158284,3.307954,3.365828,3.498208,3.807814,4.094889,4.055397,3.898959,4.121155,4.383105
228,Tanzania,TZA,CO2 emissions (metric tons per capita),0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,0.113919,...,0.100124,0.103248,0.115031,0.140895,0.149737,0.144041,0.147982,0.139973,0.150059,0.154935
229,Uganda,UGA,CO2 emissions (metric tons per capita),0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,0.088439,...,0.065803,0.065178,0.068296,0.081467,0.091546,0.104293,0.101919,0.105320,0.108297,0.110887
230,Ukraine,UKR,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.611441,7.367447,7.231049,7.087746,6.977981,6.910708,6.724046,5.647014,6.638152,6.262352
231,Upper middle income,UMC,CO2 emissions (metric tons per capita),1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,1.106905,...,3.124241,3.543526,3.951929,4.192119,4.503715,4.689536,4.838153,5.074765,5.359187,5.710564
232,Uruguay,URY,CO2 emissions (metric tons per capita),1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,1.985093,...,1.388443,1.382718,1.687830,1.736682,1.995854,1.796306,2.471054,2.401221,1.912605,2.296201
233,United States,USA,CO2 emissions (metric tons per capita),15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,...,19.639196,19.576239,19.683581,19.610275,19.116139,19.237460,18.489234,17.192379,17.484792,17.020216
234,Uzbekistan,UZB,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.067983,4.833370,4.652167,4.313738,4.436685,4.391447,4.434466,3.912053,3.693268,3.914921
235,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,0.211087,...,1.729237,1.827510,2.026657,2.023191,2.020237,2.084879,2.116255,2.114512,2.146877,2.179923
236,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,5.604755,...,7.611159,7.429285,5.766145,6.167394,6.227287,5.868518,6.604892,6.525293,6.811756,6.416334
238,Vietnam,VNM,CO2 emissions (metric tons per capita),0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,...,0.890221,0.978870,1.111901,1.191177,1.233276,1.352791,1.497496,1.636371,1.761695,1.971889
239,Vanuatu,VUT,CO2 emissions (metric tons per capita),NaN,NaN,0.594888,0.471728,0.864247,0.641714,1.007813,...,0.434844,0.405472,0.269442,0.262710,0.222103,0.433459,0.406839,0.508463,0.496591,0.591266
240,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.375598,0.405640,0.576682,0.826081,0.665292,0.665297,0.570947,0.564578,0.534015,0.572407
241,World,WLD,CO2 emissions (metric tons per capita),3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,3.536562,...,4.086042,4.273322,4.436231,4.545893,4.649744,4.686099,4.741797,4.663097,4.840412,4.944649
242,Samoa,WSM,CO2 emissions (metric tons per capita),0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,0.196416,...,0.809850,0.846182,0.902424,0.937497,0.972077,1.026224,1.039490,1.072106,1.103871,1.252110
243,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,0.605767,...,0.837104,0.893185,0.947308,0.977538,0.985853,0.981422,0.989905,1.026251,1.090060,0.919968
244,South Africa,ZAF,CO2 emissions (metric tons per capita),5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,6.332753,...,7.633688,8.255693,9.090418,8.275124,8.802475,9.063326,9.506481,9.545495,8.957154,9.257216
245,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,0.134675,...,0.034964,0.035414,0.039361,0.044326,0.045579,0.047312,0.048411,0.045604,0.049328,0.050303
246,Zambia,ZMB,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,0.950434,1.100197,0.953158,...,0.176767,0.183895,0.181385,0.189080,0.179774,0.150265,0.164692,0.184058,0.192079,0.212450
247,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,1.045374,1.179176,1.323656,...,0.940195,0.831911,0.766581,0.825218,0.780721,0.731867,0.569255,0.600521,0.646073,0.691698

In [68]:
df_co2[df_co2.mean(axis = 1).notnull()].shape

(232, 55)

In [69]:
# removing all records with missing co2 values in all years
df_co2 = df_co2[df_co2.mean(axis = 1).notnull()]

## Removing rows with invalid country names

In [70]:
df_co2['Country Name'].unique()

array([u'Aruba', u'Andorra', u'Afghanistan', u'Angola', u'Albania',
       u'Arab World', u'United Arab Emirates', u'Argentina', u'Armenia',
       u'Antigua and Barbuda', u'Australia', u'Austria', u'Azerbaijan',
       u'Burundi', u'Belgium', u'Benin', u'Burkina Faso', u'Bangladesh',
       u'Bulgaria', u'Bahrain', u'Bahamas, The', u'Bosnia and Herzegovina',
       u'Belarus', u'Belize', u'Bermuda', u'Bolivia', u'Brazil',
       u'Barbados', u'Brunei Darussalam', u'Bhutan', u'Botswana',
       u'Central African Republic', u'Canada',
       u'Central Europe and the Baltics', u'Switzerland', u'Chile',
       u'China', u"Cote d'Ivoire", u'Cameroon', u'Congo, Rep.',
       u'Colombia', u'Comoros', u'Cabo Verde', u'Costa Rica',
       u'Caribbean small states', u'Cuba', u'Cayman Islands', u'Cyprus',
       u'Czech Republic', u'Germany', u'Djibouti', u'Dominica', u'Denmark',
       u'Dominican Republic', u'Algeria',
       u'East Asia & Pacific (developing only)',
       u'East Asia & Pacific (all income levels)',
       u'Europe & Central Asia (developing only)',
       u'Europe & Central Asia (all income levels)', u'Ecuador',
       u'Egypt, Arab Rep.', u'Euro area', u'Eritrea', u'Spain', u'Estonia',
       u'Ethiopia', u'European Union',
       u'Fragile and conflict affected situations', u'Finland', u'Fiji',
       u'France', u'Faeroe Islands', u'Micronesia, Fed. Sts.', u'Gabon',
       u'United Kingdom', u'Georgia', u'Ghana', u'Guinea', u'Gambia, The',
       u'Guinea-Bissau', u'Equatorial Guinea', u'Greece', u'Grenada',
       u'Greenland', u'Guatemala', u'Guyana', u'High income',
       u'Hong Kong SAR, China', u'Honduras',
       u'Heavily indebted poor countries (HIPC)', u'Croatia', u'Haiti',
       u'Hungary', u'Indonesia', u'India', u'Ireland',
       u'Iran, Islamic Rep.', u'Iraq', u'Iceland', u'Israel', u'Italy',
       u'Jamaica', u'Jordan', u'Japan', u'Kazakhstan', u'Kenya',
       u'Kyrgyz Republic', u'Cambodia', u'Kiribati',
       u'St. Kitts and Nevis', u'Korea, Rep.', u'Kuwait',
       u'Latin America & Caribbean (developing only)', u'Lao PDR',
       u'Lebanon', u'Liberia', u'Libya', u'St. Lucia',
       u'Latin America & Caribbean (all income levels)',
       u'Least developed countries: UN classification', u'Low income',
       u'Liechtenstein', u'Sri Lanka', u'Lower middle income',
       u'Low & middle income', u'Lesotho', u'Lithuania', u'Luxembourg',
       u'Latvia', u'Macao SAR, China', u'Morocco', u'Moldova',
       u'Madagascar', u'Maldives',
       u'Middle East & North Africa (all income levels)', u'Mexico',
       u'Marshall Islands', u'Middle income', u'Macedonia, FYR', u'Mali',
       u'Malta', u'Myanmar',
       u'Middle East & North Africa (developing only)', u'Montenegro',
       u'Mongolia', u'Mozambique', u'Mauritania', u'Mauritius', u'Malawi',
       u'Malaysia', u'North America', u'Namibia', u'New Caledonia',
       u'Niger', u'Nigeria', u'Nicaragua', u'Netherlands',
       u'High income: nonOECD', u'Norway', u'Nepal', u'New Zealand',
       u'High income: OECD', u'OECD members', u'Oman',
       u'Other small states', u'Pakistan', u'Panama', u'Peru',
       u'Philippines', u'Palau', u'Papua New Guinea', u'Poland',
       u'Korea, Dem. Rep.', u'Portugal', u'Paraguay',
       u'Pacific island small states', u'French Polynesia', u'Qatar',
       u'Romania', u'Russian Federation', u'Rwanda', u'South Asia',
       u'Saudi Arabia', u'Sudan', u'Senegal', u'Singapore',
       u'Solomon Islands', u'Sierra Leone', u'El Salvador', u'Somalia',
       u'Serbia', u'Sub-Saharan Africa (developing only)',
       u'Sub-Saharan Africa (all income levels)', u'Small states',
       u'Sao Tome and Principe', u'Suriname', u'Slovak Republic',
       u'Slovenia', u'Sweden', u'Swaziland', u'Seychelles',
       u'Syrian Arab Republic', u'Turks and Caicos Islands', u'Chad',
       u'Togo', u'Thailand', u'Tajikistan', u'Turkmenistan',
       u'Timor-Leste', u'Tonga', u'Trinidad and Tobago', u'Tunisia',
       u'Turkey', u'Tanzania', u'Uganda', u'Ukraine',
       u'Upper middle income', u'Uruguay', u'United States', u'Uzbekistan',
       u'St. Vincent and the Grenadines', u'Venezuela, RB', u'Vietnam',
       u'Vanuatu', u'West Bank and Gaza', u'World', u'Samoa',
       u'Yemen, Rep.', u'South Africa', u'Congo, Dem. Rep.', u'Zambia',
       u'Zimbabwe'], dtype=object)

## Before merging with metadata

In [71]:
metadata = pd.read_csv(
    "data/co2_aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2/Metadata_Country_aac3f2a3-99c7-4ea6-a6ef-32ead3d3dbfe_v2.csv",
    encoding = "utf-8"
)

In [72]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 6 columns):
﻿"Country Name"    247 non-null object
Country Code       247 non-null object
Region             214 non-null object
IncomeGroup        214 non-null object
SpecialNotes       164 non-null object
Unnamed: 5         0 non-null float64
dtypes: float64(1), object(5)
memory usage: 11.6+ KB

In [73]:
metadata.head()

,"﻿""Country Name""",Country Code,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Afghanistan,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
2,Angola,AGO,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,NaN,NaN
4,Andorra,AND,Europe & Central Asia,High income: nonOECD,NaN,NaN

In [146]:
#metadata['"Country Name"']

In [147]:
metadata.iloc[:,0].unique()

array([u'Aruba', u'Afghanistan', u'Angola', u'Albania', u'Andorra',
       u'Arab World', u'United Arab Emirates', u'Argentina', u'Armenia',
       u'American Samoa', u'Antigua and Barbuda', u'Australia', u'Austria',
       u'Azerbaijan', u'Burundi', u'Belgium', u'Benin', u'Burkina Faso',
       u'Bangladesh', u'Bulgaria', u'Bahrain', u'Bahamas, The',
       u'Bosnia and Herzegovina', u'Belarus', u'Belize', u'Bermuda',
       u'Bolivia', u'Brazil', u'Barbados', u'Brunei Darussalam', u'Bhutan',
       u'Botswana', u'Central African Republic', u'Canada',
       u'Central Europe and the Baltics', u'Switzerland',
       u'Channel Islands', u'Chile', u'China', u"C\xf4te d'Ivoire",
       u'Cameroon', u'Congo, Dem. Rep.', u'Congo, Rep.', u'Colombia',
       u'Comoros', u'Cabo Verde', u'Costa Rica', u'Caribbean small states',
       u'Cuba', u'Cura\xe7ao', u'Cayman Islands', u'Cyprus',
       u'Czech Republic', u'Germany', u'Djibouti', u'Dominica', u'Denmark',
       u'Dominican Republic', u'Algeria', u'East Asia & Pacific',
       u'East Asia & Pacific (all income levels)',
       u'Europe & Central Asia',
       u'Europe & Central Asia (all income levels)', u'Ecuador',
       u'Egypt, Arab Rep.', u'Euro area', u'Eritrea', u'Spain', u'Estonia',
       u'Ethiopia', u'European Union',
       u'Fragile and conflict affected situations', u'Finland', u'Fiji',
       u'France', u'Faeroe Islands', u'Micronesia, Fed. Sts.', u'Gabon',
       u'United Kingdom', u'Georgia', u'Ghana', u'Guinea', u'Gambia, The',
       u'Guinea-Bissau', u'Equatorial Guinea', u'Greece', u'Grenada',
       u'Greenland', u'Guatemala', u'Guam', u'Guyana', u'High income',
       u'Hong Kong SAR, China', u'Honduras',
       u'Heavily indebted poor countries (HIPC)', u'Croatia', u'Haiti',
       u'Hungary', u'Indonesia', u'Isle of Man', u'India', u'Ireland',
       u'Iran, Islamic Rep.', u'Iraq', u'Iceland', u'Israel', u'Italy',
       u'Jamaica', u'Jordan', u'Japan', u'Kazakhstan', u'Kenya',
       u'Kyrgyz Republic', u'Cambodia', u'Kiribati',
       u'St. Kitts and Nevis', u'Korea, Rep.', u'Kosovo', u'Kuwait',
       u'Latin America & Caribbean', u'Lao PDR', u'Lebanon', u'Liberia',
       u'Libya', u'St. Lucia',
       u'Latin America & Caribbean (all income levels)',
       u'Least developed countries: UN classification', u'Low income',
       u'Liechtenstein', u'Sri Lanka', u'Lower middle income',
       u'Low & middle income', u'Lesotho', u'Lithuania', u'Luxembourg',
       u'Latvia', u'Macao SAR, China', u'St. Martin (French part)',
       u'Morocco', u'Monaco', u'Moldova', u'Madagascar', u'Maldives',
       u'Middle East & North Africa (all income levels)', u'Mexico',
       u'Marshall Islands', u'Middle income', u'Macedonia, FYR', u'Mali',
       u'Malta', u'Myanmar', u'Middle East & North Africa', u'Montenegro',
       u'Mongolia', u'Northern Mariana Islands', u'Mozambique',
       u'Mauritania', u'Mauritius', u'Malawi', u'Malaysia',
       u'North America', u'Namibia', u'New Caledonia', u'Niger',
       u'Nigeria', u'Nicaragua', u'Netherlands', u'High income: nonOECD',
       u'Norway', u'Nepal', u'New Zealand', u'High income: OECD',
       u'OECD members', u'Oman', u'Other small states', u'Pakistan',
       u'Panama', u'Peru', u'Philippines', u'Palau', u'Papua New Guinea',
       u'Poland', u'Puerto Rico', u'Korea, Dem. Rep.', u'Portugal',
       u'Paraguay', u'West Bank and Gaza', u'Pacific island small states',
       u'French Polynesia', u'Qatar', u'Romania', u'Russian Federation',
       u'Rwanda', u'South Asia', u'Saudi Arabia', u'Sudan', u'Senegal',
       u'Singapore', u'Solomon Islands', u'Sierra Leone', u'El Salvador',
       u'San Marino', u'Somalia', u'Serbia', u'Sub-Saharan Africa',
       u'South Sudan', u'Sub-Saharan Africa (all income levels)',
       u'Small states', u'S\xe3o Tom\xe9 and Principe', u'Suriname',
       u'Slovak Republic', u'Slovenia', u'Sweden', u'Swaziland',
       u'Sint Maarten (Dutch part)', u'Seychelles',
       u'Syrian Arab Republic', u'Turks and Caicos Islands', u'Chad',
       u'Togo', u'Thailand', u'Tajikistan', u'Turkmenistan',
       u'Timor-Leste', u'Tonga', u'Trinidad and Tobago', u'Tunisia',
       u'Turkey', u'Tuvalu', u'Tanzania', u'Uganda', u'Ukraine',
       u'Upper middle income', u'Uruguay', u'United States', u'Uzbekistan',
       u'St. Vincent and the Grenadines', u'Venezuela, RB',
       u'Virgin Islands (U.S.)', u'Vietnam', u'Vanuatu', u'World',
       u'Samoa', u'Yemen, Rep.', u'South Africa', u'Zambia', u'Zimbabwe'], dtype=object)

### Change the column name

In [149]:

metadata.columns = ['Country Name', 'Country Code', 'Region','IncomeGroup', 'SpecialNotes', 'Unnamed: 5']

In [150]:
metadata[metadata['Country Name'] == 'East Asia & Pacific (all income levels)']

,Country Name,Country Code,Region,IncomeGroup,SpecialNotes,Unnamed: 5
60,East Asia & Pacific (all income levels),EAS,NaN,NaN,East Asia and Pacific regional aggregate (incl...,NaN

In [151]:
# show the first 3 records without region information
metadata[metadata['Region'].isnull()][:3]

,Country Name,Country Code,Region,IncomeGroup,SpecialNotes,Unnamed: 5
5,Arab World,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,NaN
34,Central Europe and the Baltics,CEB,NaN,NaN,Central Europe and the Baltics aggregate.,NaN
47,Caribbean small states,CSS,NaN,NaN,Caribbean small states aggregate. Includes Ant...,NaN

In [152]:
removed_country_code = metadata[metadata['Region'].isnull()].loc[:,'Country Code']

In [153]:
removed_country_code.shape

(33,)

In [154]:
df_co2.shape

(232, 55)

In [155]:
removed_rows_countries = df_co2[df_co2['Country Code'].isin(removed_country_code)]

In [156]:
removed_rows_countries.shape

(33, 55)

In [157]:
df_co2[~df_co2['Country Code'].isin(removed_country_code)]

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,co2_emissions_unit
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.909066,24.510543,24.964531,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412,metric tons per capita
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.159140,7.208829,7.088128,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685,metric tons per capita
2,Afghanistan,AFG,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,0.123782,...,0.046108,0.040727,0.054855,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262,metric tons per capita
3,Angola,AGO,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,0.166659,...,0.543084,1.086605,1.069417,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008,metric tons per capita
4,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.412697,1.376213,1.412498,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038,metric tons per capita
6,United Arab Emirates,ARE,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,0.159359,5.336737,...,29.467089,28.481437,25.914587,23.954519,23.195067,23.033600,21.102296,20.120957,20.433838,metric tons per capita
7,Argentina,ARG,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,2.792654,2.858163,...,3.475035,4.032407,4.111635,4.404525,4.496834,4.744178,4.427960,4.342272,4.562049,metric tons per capita
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.129174,1.204567,1.443731,1.459637,1.694755,1.868611,1.469961,1.422998,1.671657,metric tons per capita
10,Antigua and Barbuda,ATG,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,5.727992,9.108061,...,4.804484,4.980996,4.974311,5.096290,5.561525,5.628319,5.906292,6.011269,5.823804,metric tons per capita
11,Australia,AUS,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,10.955625,...,16.906198,17.030341,17.174386,17.293874,17.467002,17.704080,17.631833,16.710904,16.519210,metric tons per capita
12,Austria,AUT,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,5.417737,...,8.874662,8.844004,9.027746,8.733507,8.405093,8.262046,7.608851,8.127693,7.769983,metric tons per capita
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.718170,3.863230,4.091802,4.616300,3.555340,4.051383,3.565668,3.388226,3.647379,metric tons per capita
14,Burundi,BDI,NaN,NaN,0.015203,0.016155,0.015827,0.011910,0.015115,0.014735,...,0.021800,0.025845,0.019411,0.022757,0.021964,0.021615,0.020868,0.020542,0.021350,metric tons per capita
15,Belgium,BEL,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,11.217257,...,11.041147,10.642641,10.335096,10.122879,9.713718,9.699599,9.634776,9.989976,8.849398,metric tons per capita
16,Benin,BEN,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,0.042395,0.052320,...,0.307111,0.316584,0.292648,0.458608,0.516299,0.500183,0.514278,0.541771,0.509962,metric tons per capita
17,Burkina Faso,BFA,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,0.019217,...,0.085214,0.084722,0.083875,0.098340,0.115429,0.115427,0.109774,0.107673,0.119981,metric tons per capita
18,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.244466,0.282230,0.262742,0.332346,0.319840,0.334440,0.352155,0.370360,0.372017,metric tons per capita
19,Bulgaria,BGR,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,6.638369,...,6.046862,6.012888,6.189919,6.357101,6.916687,6.778939,5.729716,5.966884,6.714383,metric tons per capita
20,Bahrain,BHR,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,3.384358,5.121012,...,21.623694,21.670994,22.153905,20.014759,21.443296,21.519995,18.136234,18.435025,17.947330,metric tons per capita
21,"Bahamas, The",BHS,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,7.466085,11.173504,...,4.807931,5.343509,4.856024,4.531866,4.521354,2.998089,4.630520,6.829321,5.199844,metric tons per capita
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.795423,4.080225,4.227206,4.575983,4.580387,5.231547,5.371890,5.513994,6.196652,metric tons per capita
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483469,5.964811,6.112426,6.437868,6.305629,6.592749,6.341939,6.556550,6.682510,metric tons per capita
24,Belize,BLZ,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,0.737800,1.073754,...,1.430655,1.434471,1.462766,1.488236,1.536094,1.473196,1.495185,1.721709,1.670904,metric tons per capita
25,Bermuda,BMU,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,4.090115,...,8.049159,10.528099,6.916280,8.070208,7.968299,5.955020,7.095329,7.320036,6.077210,metric tons per capita
26,Bolivia,BOL,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,0.407085,0.446570,...,1.603664,1.458991,1.322472,1.586749,1.318204,1.412189,1.459841,1.547659,1.599499,metric tons per capita
27,Brazil,BRA,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,0.743448,0.744967,...,1.751491,1.815133,1.842690,1.823133,1.884034,1.990429,1.866522,2.113415,2.191394,metric tons per capita
28,Barbados,BRB,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,1.134077,1.425763,...,4.660168,4.739999,4.938171,4.986395,5.178741,5.871114,5.833678,5.430338,5.580178,metric tons per capita
29,Brunei Darussalam,BRN,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,4.573085,3.905218,...,13.952260,13.628828,12.767506,11.604115,24.178409,26.338271,22.149029,21.873222,24.392013,metric tons per capita
30,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.612680,0.485669,0.608198,0.588330,0.575768,0.606779,0.549146,0.677145,0.766206,metric tons per capita
31,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.355629,2.385073,2.476795,2.450894,2.435256,2.530551,2.192295,2.555293,2.323345,metric tons per capita
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Seychelles,SYC,NaN,NaN,NaN,0.162343,0.158326,0.154400,0.150599,0.146942,...,6.643116,8.934145,8.315995,8.669031,7.546776,7.970272,8.485120,7.679581,6.835706,metric tons per capita
215,Syrian Arab Republic,SYR,0.701818,0.646400,0.654417,0.714140,0.835933,0.681322,0.881376,0.799209,...,3.137148,2.892197,2.792388,2.861436,3.421673,3.360814,3.012318,2.971741,2.736991,metric tons per capita
216,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.385614,4.102937,4.575085,5.173757,5.762099,6.094875,5.940523,6.152486,6.010149,metric tons per capita
217,Chad,TCD,0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,0.025001,0.034149,...,0.040773,0.038896,0.039701,0.039050,0.042863,0.045756,0.042689,0.043463,0.043830,metric tons per capita
218,Togo,TGO,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,0.106723,...,0.276938,0.257366,0.239943,0.213028,0.239677,0.285948,0.270614,0.269107,0.319444,metric tons per capita
219,Thailand,THA,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,0.360203,...,3.582350,3.858213,3.889369,3.992198,3.994687,3.984060,4.198512,4.470426,4.534492,metric tons per capita
220,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.317704,0.384487,0.358852,0.382553,0.463345,0.409462,0.382775,0.373873,0.358948,metric tons per capita
221,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.054611,9.206388,9.584881,9.722725,11.535622,11.557572,10.110661,11.358111,12.183667,metric tons per capita
222,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.173599,0.182848,0.179755,0.180395,0.180962,0.185017,0.174891,0.171932,0.163648,metric tons per capita
223,Tonga,TON,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,0.143266,0.185558,...,1.178082,1.097619,1.127099,1.264396,1.112637,1.176967,1.276514,1.128883,0.983562,metric tons per capita
224,Trinidad and Tobago,TTO,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,4.408841,5.009898,...,21.729808,23.876765,22.755236,35.630491,36.816763,35.455298,36.569448,38.337841,37.140054,metric tons per capita
225,Tunisia,TUN,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,0.609953,0.638871,...,2.159251,2.245079,2.259653,2.270173,2.357974,2.403508,2.374157,2.535619,2.402456,metric tons per capita
226,Turkey,TUR,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,0.994607,1.033139,...,3.307954,3.365828,3.498208,3.807814,4.094889,4.055397,3.898959,4.121155,4.383105,metric tons per capita
228,Tanzania,TZA,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,0.113919,0.141879,...,0.103248,0.115031,0.140895,0.149737,0.144041,0.147982,0.139973,0.150059,0.154935,metric tons per capita
229,Uganda,UGA,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,0.088439,0.094446,...,0.065178,0.068296,0.081467,0.091546,0.104293,0.101919,0.105320,0.108297,0.110887,metric tons per capita
230,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.367447,7.231049,7.087746,6.977981,6.910708,6.724046,5.647014,6.638152,6.262352,metric tons per capita
232,Uruguay,URY,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,1.985093,1.776101,...,1.382718,1.687830,1.736682,1.995854,1.796306,2.471054,2.401221,1.912605,2.296201,metric tons per capita
233,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,19.576239,19.683581,19.610275,19.116139,19.237460,18.489234,17.192379,17.484792,17.020216,metric tons per capita
234,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.833370,4.652167,4.313738,4.436685,4.391447,4.434466,3.912053,3.693268,3.914921,metric tons per capita
235,St. Vincent and the Grenadines,VCT,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,0.211087,0.208979,...,1.827510,2.026657,2.023191,2.020237,2.084879,2.116255,2.114512,2.146877,2.179923,metric tons per capita
236,"Venezuela, RB",VEN,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,5.604755,6.251423,...,7.429285,5.766145,6.167394,6.227287,5.868518,6.604892,6.525293,6.811756,6.416334,metric tons per capita
238,Vietnam,VNM,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,0.574906,...,0.978870,1.111901,1.191177,1.233276,1.352791,1.497496,1.636371,1.761695,1.971889,metric tons per capita
239,Vanuatu,VUT,NaN,NaN,0.594888,0.471728,0.864247,0.641714,1.007813,1.074161,...,0.405472,0.269442,0.262710,0.222103,0.433459,0.406839,0.508463,0.496591,0.591266,metric tons per capita
240,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.405640,0.576682,0.826081,0.665292,0.665297,0.570947,0.564578,0.534015,0.572407,metric tons per capita
242,Samoa,WSM,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,0.196416,0.191283,...,0.846182,0.902424,0.937497,0.972077,1.026224,1.039490,1.072106,1.103871,1.252110,metric tons per capita
243,"Yemen, Rep.",YEM,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,0.605767,0.524197,...,0.893185,0.947308,0.977538,0.985853,0.981422,0.989905,1.026251,1.090060,0.919968,metric tons per capita
244,South Africa,ZAF,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,6.332753,6.465648,...,8.255693,9.090418,8.275124,8.802475,9.063326,9.506481,9.545495,8.957154,9.257216,metric tons per capita
245,"Congo, Dem. Rep.",COD,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,0.134675,0.124706,...,0.035414,0.039361,0.044326,0.045579,0.047312,0.048411,0.045604,0.049328,0.050303,metric tons per capita
246,Zambia,ZMB,NaN,NaN,NaN,NaN,0.950434,1.100197,0.953158,1.263628,...,0.183895,0.181385,0.189080,0.179774,0.150265,0.164692,0.184058,0.192079,0.212450,metric tons per capita
247,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,1.045374,1.179176,1.323656,1.122961,...,0.831911,0.766581,0.825218,0.780721,0.731867,0.569255,0.600521,0.646073,0.691698,metric tons per capita

In [158]:
df_co2 = df_co2[~df_co2['Country Code'].isin(removed_country_code)]

In [159]:
df_co2.shape

(199, 55)

### Recap

In [160]:
df_co2.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,co2_emissions_unit
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.909066,24.510543,24.964531,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412,metric tons per capita
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.159140,7.208829,7.088128,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685,metric tons per capita
2,Afghanistan,AFG,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,0.123782,...,0.046108,0.040727,0.054855,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262,metric tons per capita
3,Angola,AGO,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,0.166659,...,0.543084,1.086605,1.069417,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008,metric tons per capita
4,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.412697,1.376213,1.412498,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038,metric tons per capita

### putting all the years in rows

In [161]:
pd.melt(df_co2,id_vars=['Country Name', 'Country Code', 'Indicator Name'])

KeyError: 'Indicator Name'

In [ ]:
df_co2 = pd.melt(df_co2,id_vars=['Country Name', 'Country Code', 'Indicator Name'])

In [ ]:
df_co2.columns

In [ ]:
df_co2.rename(columns={'variable': 'year'})

In [ ]:
df_co2.rename(columns={'variable': 'year'}, inplace=True)

### ex: change column name 'value' to 'co2_emissions'

In [ ]:
df_co2.rename(columns={'value': 'co2_emissions'}, inplace=True)

In [ ]:
df_co2.info()

In [ ]:
#create a unit column
df_co2['co2_emissions_unit'] = 'metric tons per capita'

In [ ]:
df_co2 = df_co2.drop('Indicator Name', axis = 1)

In [ ]:
df_co2['year'].astype(int)

In [ ]:
df_co2['year'] = df_co2['year'].astype(int)

In [ ]:
df_co2.head()

In [ ]:
df_co2.info()

In [ ]:
metadata.head()

In [ ]:
metadata.drop(['Unnamed: 5', 'Country Name'], axis= 1)

In [ ]:
metadata = metadata.drop(['Unnamed: 5', 'Country Name'], axis= 1)

## Merge co2 data with metadata

<img src = 'http://www.codeproject.com/KB/database/Visual_SQL_Joins/Visual_SQL_JOINS_orig.jpg', width = 800>

In [162]:
pd.merge(df_co2, metadata, on ='Country Code', how = 'left')

,Country Name_x,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2008,2009,2010,2011,co2_emissions_unit,Country Name_y,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.750133,24.876706,24.182702,23.922412,metric tons per capita,Aruba,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.296125,6.049173,6.124770,5.968685,metric tons per capita,Andorra,Europe & Central Asia,High income: nonOECD,NaN,NaN
2,Afghanistan,AFG,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,0.123782,...,0.158962,0.249074,0.302936,0.425262,metric tons per capita,Afghanistan,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
3,Angola,AGO,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,0.166659,...,1.369425,1.430873,1.401654,1.354008,metric tons per capita,Angola,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
4,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.580113,1.533178,1.515632,1.607038,metric tons per capita,Albania,Europe & Central Asia,Upper middle income,NaN,NaN
5,United Arab Emirates,ARE,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,0.159359,5.336737,...,23.033600,21.102296,20.120957,20.433838,metric tons per capita,United Arab Emirates,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
6,Argentina,ARG,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,2.792654,2.858163,...,4.744178,4.427960,4.342272,4.562049,metric tons per capita,Argentina,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
7,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.868611,1.469961,1.422998,1.671657,metric tons per capita,Armenia,Europe & Central Asia,Lower middle income,NaN,NaN
8,Antigua and Barbuda,ATG,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,5.727992,9.108061,...,5.628319,5.906292,6.011269,5.823804,metric tons per capita,Antigua and Barbuda,Latin America & Caribbean,High income: nonOECD,April 2012 database update: Based on official ...,NaN
9,Australia,AUS,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,10.955625,...,17.704080,17.631833,16.710904,16.519210,metric tons per capita,Australia,East Asia & Pacific,High income: OECD,Fiscal year end: June 30; reporting period for...,NaN
10,Austria,AUT,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,5.417737,...,8.262046,7.608851,8.127693,7.769983,metric tons per capita,Austria,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...,NaN
11,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.051383,3.565668,3.388226,3.647379,metric tons per capita,Azerbaijan,Europe & Central Asia,Upper middle income,April 2012 database update: National accounts ...,NaN
12,Burundi,BDI,NaN,NaN,0.015203,0.016155,0.015827,0.011910,0.015115,0.014735,...,0.021615,0.020868,0.020542,0.021350,metric tons per capita,Burundi,Sub-Saharan Africa,Low income,NaN,NaN
13,Belgium,BEL,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,11.217257,...,9.699599,9.634776,9.989976,8.849398,metric tons per capita,Belgium,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...,NaN
14,Benin,BEN,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,0.042395,0.052320,...,0.500183,0.514278,0.541771,0.509962,metric tons per capita,Benin,Sub-Saharan Africa,Low income,NaN,NaN
15,Burkina Faso,BFA,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,0.019217,...,0.115427,0.109774,0.107673,0.119981,metric tons per capita,Burkina Faso,Sub-Saharan Africa,Low income,NaN,NaN
16,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.334440,0.352155,0.370360,0.372017,metric tons per capita,Bangladesh,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,NaN
17,Bulgaria,BGR,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,6.638369,...,6.778939,5.729716,5.966884,6.714383,metric tons per capita,Bulgaria,Europe & Central Asia,Upper middle income,The new reference year for chain linked series...,NaN
18,Bahrain,BHR,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,3.384358,5.121012,...,21.519995,18.136234,18.435025,17.947330,metric tons per capita,Bahrain,Middle East & North Africa,High income: nonOECD,Based on official government statistics; the n...,NaN
19,"Bahamas, The",BHS,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,7.466085,11.173504,...,2.998089,4.630520,6.829321,5.199844,metric tons per capita,"Bahamas, The",Latin America & Caribbean,High income: nonOECD,NaN,NaN
20,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.231547,5.371890,5.513994,6.196652,metric tons per capita,Bosnia and Herzegovina,Europe & Central Asia,Upper middle income,Based on official government statistics for ch...,NaN
21,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.592749,6.341939,6.556550,6.682510,metric tons per capita,Belarus,Europe & Central Asia,Upper middle income,NaN,NaN
22,Belize,BLZ,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,0.737800,1.073754,...,1.473196,1.495185,1.721709,1.670904,metric tons per capita,Belize,Latin America & Caribbean,Upper middle income,NaN,NaN
23,Bermuda,BMU,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,4.090115,...,5.955020,7.095329,7.320036,6.077210,metric tons per capita,Bermuda,North America,High income: nonOECD,NaN,NaN
24,Bolivia,BOL,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,0.407085,0.446570,...,1.412189,1.459841,1.547659,1.599499,metric tons per capita,Bolivia,Latin America & Caribbean,Lower middle income,NaN,NaN
25,Brazil,BRA,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,0.743448,0.744967,...,1.990429,1.866522,2.113415,2.191394,metric tons per capita,Brazil,Latin America & Caribbean,Upper middle income,NaN,NaN
26,Barbados,BRB,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,1.134077,1.425763,...,5.871114,5.833678,5.430338,5.580178,metric tons per capita,Barbados,Latin America & Caribbean,High income: nonOECD,NaN,NaN
27,Brunei Darussalam,BRN,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,4.573085,3.905218,...,26.338271,22.149029,21.873222,24.392013,metric tons per capita,Brunei Darussalam,East Asia & Pacific,High income: nonOECD,NaN,NaN
28,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.606779,0.549146,0.677145,0.766206,metric tons per capita,Bhutan,South Asia,Lower middle income,April 2013 database update: Data were updated ...,NaN
29,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.530551,2.192295,2.555293,2.323345,metric tons per capita,Botswana,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Seychelles,SYC,NaN,NaN,NaN,0.162343,0.158326,0.154400,0.150599,0.146942,...,7.970272,8.485120,7.679581,6.835706,metric tons per capita,Seychelles,Sub-Saharan Africa,High income: nonOECD,April 2013 database update: Based on official ...,NaN
170,Syrian Arab Republic,SYR,0.701818,0.646400,0.654417,0.714140,0.835933,0.681322,0.881376,0.799209,...,3.360814,3.012318,2.971741,2.736991,metric tons per capita,Syrian Arab Republic,Middle East & North Africa,Lower middle income,April 2013 database update: Based on data from...,NaN
171,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.094875,5.940523,6.152486,6.010149,metric tons per capita,Turks and Caicos Islands,Latin America & Caribbean,High income: nonOECD,NaN,NaN
172,Chad,TCD,0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,0.025001,0.034149,...,0.045756,0.042689,0.043463,0.043830,metric tons per capita,Chad,Sub-Saharan Africa,Low income,"Based on IMF data, national accounts data have...",NaN
173,Togo,TGO,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,0.106723,...,0.285948,0.270614,0.269107,0.319444,metric tons per capita,Togo,Sub-Saharan Africa,Low income,"April 2013 database update: Based on IMF data,...",NaN
174,Thailand,THA,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,0.360203,...,3.984060,4.198512,4.470426,4.534492,metric tons per capita,Thailand,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...,NaN
175,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.409462,0.382775,0.373873,0.358948,metric tons per capita,Tajikistan,Europe & Central Asia,Lower middle income,NaN,NaN
176,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.557572,10.110661,11.358111,12.183667,metric tons per capita,Turkmenistan,Europe & Central Asia,Upper middle income,"On January 1, 2009, the Turkmen manat was rede...",NaN
177,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.185017,0.174891,0.171932,0.163648,metric tons per capita,Timor-Leste,East Asia & Pacific,Lower middle income,"Based on official government statistics, natio...",NaN
178,Tonga,TON,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,0.143266,0.185558,...,1.176967,1.276514,1.128883,0.983562,metric tons per capita,Tonga,East Asia & Pacific,Upper middle income,2013 national accounts estimates are based on ...,NaN
179,Trinidad and Tobago,TTO,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,4.408841,5.009898,...,35.455298,36.569448,38.337841,37.140054,metric tons per capita,Trinidad and Tobago,Latin America & Caribbean,High income: nonOECD,NaN,NaN
180,Tunisia,TUN,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,0.609953,0.638871,...,2.403508,2.374157,2.535619,2.402456,metric tons per capita,Tunisia,Middle East & North Africa,Upper middle income,NaN,NaN
181,Turkey,TUR,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,0.994607,1.033139,...,4.055397,3.898959,4.121155,4.383105,metric tons per capita,Turkey,Europe & Central Asia,Upper middle income,NaN,NaN
182,Tanzania,TZA,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,0.113919,0.141879,...,0.147982,0.139973,0.150059,0.154935,metric tons per capita,Tanzania,Sub-Saharan Africa,Low income,The new base year is 2007. Tanzania reports us...,NaN
183,Uganda,UGA,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,0.088439,0.094446,...,0.101919,0.105320,0.108297,0.110887,metric tons per capita,Uganda,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,NaN
184,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.724046,5.647014,6.638152,6.262352,metric tons per capita,Ukraine,Europe & Central Asia,Lower middle income,NaN,NaN
185,Uruguay,URY,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,1.985093,1.776101,...,2.471054,2.401221,1.912605,2.296201,metric tons per capita,Uruguay,Latin America & Caribbean,High income: nonOECD,"In 2011, the Central Bank revised national acc...",NaN
186,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,18.489234,17.192379,17.484792,17.020216,metric tons per capita,United States,North America,High income: OECD,Fiscal year end: September 30; reporting perio...,NaN
187,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.434466,3.912053,3.693268,3.914921,metric tons per capita,Uzbekistan,Europe & Central Asia,Lower middle income,NaN,NaN
188,St. Vincent and the Grenadines,VCT,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,0.211087,0.208979,...,2.116255,2.114512,2.146877,2.179923,metric tons per capita,St. Vincent and the Grenadines,Latin America & Caribbean,Upper middle income,April 2012 database update: Based on official ...,NaN
189,"Venezuela, RB",VEN,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,5.604755,6.251423,...,6.604892,6.525293,6.811756,6.416334,metric tons per capita,"Venezuela, RB",Latin America & Caribbean,High income: nonOECD,NaN,NaN
190,Vietnam,VNM,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,0.574906,...,1.497496,1.636371,1.761695,1.971889,metric tons per capita,Vietnam,East Asia & Pacific,Lower middle income,Based on data from the Vietnam Statistics Offi...,NaN
191,Vanuatu,VUT,NaN,NaN,0.594888,0.471728,0.864247,0.641714,1.007813,1.074161,...,0.406839,0.508463,0.496591,0.591266,metric tons per capita,Vanuatu,East Asia & Pacific,Lower middle income,2013 national accounts estimates are based on ...,NaN
192,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.570947,0.564578,0.534015,0.572407,metric tons per capita,West Bank and Gaza,Middle East & North Africa,Lower middle income,The new base year is 2004.,NaN
193,Samoa,WSM,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,0.196416,0.191283,...,1.039490,1.072106,1.103871,1.252110,metric tons per capita,Samoa,East Asia & Pacific,Lower middle income,Fiscal year ends on June 30; reporting period ...,NaN
194,"Yemen, Rep.",YEM,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,0.605767,0.524197,...,0.989905,1.026251,1.090060,0.919968,metric tons per capita,"Yemen, Rep.",Middle East & North Africa,Lower middle income,Based on official government statistics and In...,NaN
195,South Africa,ZAF,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,6.332753,6.465648,...,9.506481,9.545495,8.957154,9.257216,metric tons per capita,South Africa,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,NaN
196,"Congo, Dem. Rep.",COD,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,0.134675,0.124706,...,0.048411,0.045604,0.049328,0.050303,metric tons per capita,"Congo, Dem. Rep.",Sub-Saharan Africa,Low income,Based on official government statistics; the n...,NaN
197,Zambia,ZMB,NaN,NaN,NaN,NaN,0.950434,1.100197,0.953158,1.263628,...,0.164692,0.184058,0.192079,0.212450,metric tons per capita,Zambia,Sub-Saharan Africa,Lower middle income,The new base year is 2010. National accounts d...,NaN
198,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,1.045374,1.179176,1.323656,1.122961,...,0.569255,0.600521,0.646073,0.691698,metric tons per capita,Zimbabwe,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,NaN

In [163]:
df_merged_co2_meta = pd.merge(df_co2, metadata, on ='Country Code', how = 'left')

In [164]:
df_merged_co2_meta.shape

(199, 60)

In [165]:
df_merged_co2_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 198
Data columns (total 60 columns):
Country Name_x        199 non-null object
Country Code          199 non-null object
1960                  150 non-null float64
1961                  151 non-null float64
1962                  152 non-null float64
1963                  153 non-null float64
1964                  158 non-null float64
1965                  158 non-null float64
1966                  158 non-null float64
1967                  158 non-null float64
1968                  157 non-null float64
1969                  158 non-null float64
1970                  160 non-null float64
1971                  161 non-null float64
1972                  163 non-null float64
1973                  163 non-null float64
1974                  163 non-null float64
1975                  163 non-null float64
1976                  163 non-null float64
1977                  163 non-null float64
1978                  163 non-null float64
1979                  163 non-null float64
1980                  163 non-null float64
1981                  163 non-null float64
1982                  163 non-null float64
1983                  163 non-null float64
1984                  163 non-null float64
1985                  163 non-null float64
1986                  164 non-null float64
1987                  164 non-null float64
1988                  164 non-null float64
1989                  164 non-null float64
1990                  166 non-null float64
1991                  167 non-null float64
1992                  187 non-null float64
1993                  187 non-null float64
1994                  188 non-null float64
1995                  191 non-null float64
1996                  190 non-null float64
1997                  192 non-null float64
1998                  193 non-null float64
1999                  193 non-null float64
2000                  194 non-null float64
2001                  194 non-null float64
2002                  195 non-null float64
2003                  195 non-null float64
2004                  195 non-null float64
2005                  197 non-null float64
2006                  198 non-null float64
2007                  199 non-null float64
2008                  199 non-null float64
2009                  199 non-null float64
2010                  199 non-null float64
2011                  199 non-null float64
co2_emissions_unit    199 non-null object
Country Name_y        199 non-null object
Region                199 non-null object
IncomeGroup           199 non-null object
SpecialNotes          127 non-null object
Unnamed: 5            0 non-null float64
dtypes: float64(53), object(7)
memory usage: 94.8+ KB

### Adding population data
1. Remove columns
1. Remove rows
1. Reshape dataframe
1. Merge it with the merged df

In [166]:
df_population = pd.read_csv(
    "data/population_4e08cff3-c5b0-4d87-ab6e-77215af1f57c_v2/4e08cff3-c5b0-4d87-ab6e-77215af1f57c_v2.csv",
    skiprows=4,
    encoding='utf-8'
)

In [167]:
df_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55435.0,56226.0,56697.0,57029.0,57360.0,...,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,NaN,NaN
1,Andorra,AND,"Population, total",SP.POP.TOTL,13414.0,14376.0,15376.0,16410.0,17470.0,18551.0,...,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8994793.0,9164945.0,9343772.0,9531555.0,9728645.0,9935358.0,...,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,NaN,NaN
3,Angola,AGO,"Population, total",SP.POP.TOTL,5270844.0,5367287.0,5465905.0,5565808.0,5665701.0,5765025.0,...,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,NaN,NaN
4,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900489.0,2897366.0,2894475.0,NaN,NaN

In [168]:
df_population.shape

(248, 61)

In [169]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 61 columns):
Country Name      248 non-null object
Country Code      248 non-null object
Indicator Name    248 non-null object
Indicator Code    248 non-null object
1960              244 non-null float64
1961              244 non-null float64
1962              244 non-null float64
1963              244 non-null float64
1964              244 non-null float64
1965              244 non-null float64
1966              244 non-null float64
1967              244 non-null float64
1968              244 non-null float64
1969              244 non-null float64
1970              244 non-null float64
1971              244 non-null float64
1972              244 non-null float64
1973              244 non-null float64
1974              244 non-null float64
1975              244 non-null float64
1976              244 non-null float64
1977              244 non-null float64
1978              244 non-null float64
1979              244 non-null float64
1980              244 non-null float64
1981              244 non-null float64
1982              244 non-null float64
1983              244 non-null float64
1984              244 non-null float64
1985              244 non-null float64
1986              244 non-null float64
1987              244 non-null float64
1988              244 non-null float64
1989              244 non-null float64
1990              246 non-null float64
1991              246 non-null float64
1992              245 non-null float64
1993              245 non-null float64
1994              245 non-null float64
1995              246 non-null float64
1996              246 non-null float64
1997              246 non-null float64
1998              247 non-null float64
1999              247 non-null float64
2000              247 non-null float64
2001              247 non-null float64
2002              247 non-null float64
2003              247 non-null float64
2004              247 non-null float64
2005              247 non-null float64
2006              247 non-null float64
2007              247 non-null float64
2008              247 non-null float64
2009              247 non-null float64
2010              247 non-null float64
2011              247 non-null float64
2012              247 non-null float64
2013              247 non-null float64
2014              247 non-null float64
2015              0 non-null float64
Unnamed: 60       0 non-null float64
dtypes: float64(57), object(4)
memory usage: 118.3+ KB

In [170]:
df_population = df_population.drop(
    ['Indicator Code', '2015', 'Unnamed: 60'],
    axis =1
)

In [171]:
df_population[df_population['Country Code'].isin(removed_country_code)]

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
5,Arab World,ARB,"Population, total",9.249590e+07,9.504159e+07,9.769150e+07,1.004383e+08,1.032739e+08,1.061923e+08,1.092001e+08,...,3.135089e+08,3.209125e+08,3.286681e+08,3.366624e+08,3.447023e+08,3.526403e+08,3.607616e+08,3.689144e+08,3.770967e+08,3.852725e+08
34,Central Europe and the Baltics,CEB,"Population, total",9.140158e+07,9.223712e+07,9.301489e+07,9.384575e+07,9.472260e+07,9.544706e+07,9.614864e+07,...,1.062547e+08,1.059993e+08,1.055045e+08,1.051267e+08,1.049244e+08,1.045438e+08,1.041740e+08,1.039353e+08,1.037137e+08,1.034551e+08
46,Caribbean small states,CSS,"Population, total",4.190810e+06,4.270928e+06,4.353408e+06,4.435830e+06,4.514432e+06,4.586896e+06,4.653340e+06,...,6.640916e+06,6.681231e+06,6.723587e+06,6.767278e+06,6.811213e+06,6.854569e+06,6.896697e+06,6.937108e+06,6.975819e+06,7.013555e+06
58,East Asia & Pacific (developing only),EAP,"Population, total",8.964930e+08,8.957847e+08,9.073954e+08,9.302924e+08,9.528386e+08,9.764096e+08,1.003577e+09,...,1.894745e+09,1.909252e+09,1.923095e+09,1.936736e+09,1.950281e+09,1.963842e+09,1.977638e+09,1.991747e+09,2.006073e+09,2.020657e+09
59,East Asia & Pacific (all income levels),EAS,"Population, total",1.042475e+09,1.045789e+09,1.059972e+09,1.085448e+09,1.110559e+09,1.136728e+09,1.166335e+09,...,2.130533e+09,2.146004e+09,2.160752e+09,2.175661e+09,2.190177e+09,2.204603e+09,2.219079e+09,2.233889e+09,2.248867e+09,2.264080e+09
60,Europe & Central Asia (developing only),ECA,"Population, total",1.553174e+08,1.582421e+08,1.611689e+08,1.640931e+08,1.669772e+08,1.697698e+08,1.725614e+08,...,2.497304e+08,2.508496e+08,2.517185e+08,2.528773e+08,2.546855e+08,2.567991e+08,2.587780e+08,2.605449e+08,2.624163e+08,2.643507e+08
61,Europe & Central Asia (all income levels),ECS,"Population, total",6.674890e+08,6.751817e+08,6.831143e+08,6.911018e+08,6.989990e+08,7.066439e+08,7.133009e+08,...,8.729681e+08,8.757558e+08,8.788197e+08,8.823582e+08,8.860632e+08,8.896304e+08,8.930941e+08,8.949628e+08,8.988371e+08,9.031106e+08
64,Euro area,EMU,"Population, total",2.653965e+08,2.678253e+08,2.703248e+08,2.728764e+08,2.753822e+08,2.778567e+08,2.801475e+08,...,3.294909e+08,3.310332e+08,3.327590e+08,3.343788e+08,3.354334e+08,3.361994e+08,3.369586e+08,3.361895e+08,3.372839e+08,3.387339e+08
69,European Union,EUU,"Population, total",4.094985e+08,4.130070e+08,4.166706e+08,4.203933e+08,4.240759e+08,4.275926e+08,4.308684e+08,...,4.963065e+08,4.981821e+08,5.000305e+08,5.019125e+08,5.033904e+08,5.044690e+08,5.055449e+08,5.051265e+08,5.065580e+08,5.083145e+08
70,Fragile and conflict affected situations,FCS,"Population, total",1.203546e+08,1.231252e+08,1.260061e+08,1.290057e+08,1.321468e+08,1.354452e+08,1.389124e+08,...,3.802853e+08,3.898234e+08,3.995307e+08,4.093937e+08,4.193713e+08,4.294485e+08,4.399542e+08,4.507039e+08,4.617132e+08,4.729547e+08
90,High income,HIC,"Population, total",9.075975e+08,9.209709e+08,9.330254e+08,9.450179e+08,9.569215e+08,9.684452e+08,9.786563e+08,...,1.322338e+09,1.331063e+09,1.340501e+09,1.350648e+09,1.359870e+09,1.368263e+09,1.376081e+09,1.382477e+09,1.390566e+09,1.398793e+09
93,Heavily indebted poor countries (HIPC),HPC,"Population, total",1.624912e+08,1.663375e+08,1.703327e+08,1.744845e+08,1.788026e+08,1.832944e+08,1.879623e+08,...,5.463293e+08,5.619346e+08,5.779142e+08,5.942885e+08,6.110880e+08,6.283336e+08,6.460288e+08,6.641638e+08,6.827300e+08,7.017141e+08
119,Latin America & Caribbean (developing only),LAC,"Population, total",1.776822e+08,1.829520e+08,1.884162e+08,1.940355e+08,1.997549e+08,2.055344e+08,2.113584e+08,...,4.711077e+08,4.772926e+08,4.834586e+08,4.895954e+08,4.956859e+08,5.017165e+08,5.076837e+08,5.135872e+08,5.194196e+08,5.251734e+08
125,Latin America & Caribbean (all income levels),LCN,"Population, total",2.205642e+08,2.267643e+08,2.331832e+08,2.397712e+08,2.464584e+08,2.531953e+08,2.599652e+08,...,5.627832e+08,5.700300e+08,5.772483e+08,5.844358e+08,5.915776e+08,5.986629e+08,6.056748e+08,6.126177e+08,6.194873e+08,6.262702e+08
126,Least developed countries: UN classification,LDC,"Population, total",2.410728e+08,2.467331e+08,2.525859e+08,2.586702e+08,2.650394e+08,2.717239e+08,2.787558e+08,...,7.527947e+08,7.710821e+08,7.895447e+08,8.082967e+08,8.274983e+08,8.472641e+08,8.676663e+08,8.886066e+08,9.100636e+08,9.319551e+08
127,Low income,LIC,"Population, total",1.571884e+08,1.606428e+08,1.641802e+08,1.678351e+08,1.716578e+08,1.756831e+08,1.799169e+08,...,4.881644e+08,5.015062e+08,5.151425e+08,5.291199e+08,5.435024e+08,5.583332e+08,5.736291e+08,5.893682e+08,6.055058e+08,6.219776e+08
130,Lower middle income,LMC,"Population, total",9.429116e+08,9.642428e+08,9.863016e+08,1.008924e+09,1.032387e+09,1.056418e+09,1.081099e+09,...,2.505016e+09,2.545670e+09,2.586399e+09,2.627318e+09,2.668428e+09,2.709974e+09,2.752176e+09,2.793702e+09,2.836264e+09,2.879112e+09
131,Low & middle income,LMY,"Population, total",2.127373e+09,2.155068e+09,2.195967e+09,2.248870e+09,2.302381e+09,2.357555e+09,2.417141e+09,...,5.192265e+09,5.264380e+09,5.336021e+09,5.408305e+09,5.481699e+09,5.556020e+09,5.631389e+09,5.706833e+09,5.783956e+09,5.861918e+09
143,Middle East & North Africa (all income levels),MEA,"Population, total",1.055126e+08,1.083926e+08,1.114190e+08,1.145251e+08,1.177349e+08,1.210232e+08,1.243802e+08,...,3.467353e+08,3.539231e+08,3.614512e+08,3.692286e+08,3.771335e+08,3.849451e+08,3.930039e+08,4.011445e+08,4.093244e+08,4.174514e+08
146,Middle income,MIC,"Population, total",1.970185e+09,1.994425e+09,2.031787e+09,2.081035e+09,2.130723e+09,2.181872e+09,2.237224e+09,...,4.704101e+09,4.762873e+09,4.820878e+09,4.879185e+09,4.938196e+09,4.997687e+09,5.057760e+09,5.117465e+09,5.178450e+09,5.239940e+09
151,Middle East & North Africa (developing only),MNA,"Population, total",9.786942e+07,1.004837e+08,1.031837e+08,1.059668e+08,1.088325e+08,1.117793e+08,1.148122e+08,...,3.036997e+08,3.090007e+08,3.144328e+08,3.200051e+08,3.256892e+08,3.314569e+08,3.376380e+08,3.440520e+08,3.506492e+08,3.573129e+08
160,North America,NAC,"Population, total",1.986244e+08,2.020075e+08,2.051986e+08,2.082537e+08,2.112629e+08,2.140311e+08,2.166590e+08,...,3.278928e+08,3.310149e+08,3.341840e+08,3.374050e+08,3.404657e+08,3.434175e+08,3.461290e+08,3.489312e+08,3.517208e+08,3.544627e+08
167,High income: nonOECD,NOC,"Population, total",1.866767e+08,1.896568e+08,1.927296e+08,1.958178e+08,1.988968e+08,2.019804e+08,2.043072e+08,...,3.028790e+08,3.053150e+08,3.082527e+08,3.115136e+08,3.146983e+08,3.176812e+08,3.203970e+08,3.233487e+08,3.261374e+08,3.287667e+08
171,High income: OECD,OEC,"Population, total",7.209208e+08,7.313141e+08,7.402958e+08,7.492001e+08,7.580247e+08,7.664648e+08,7.743491e+08,...,1.019459e+09,1.025748e+09,1.032249e+09,1.039134e+09,1.045172e+09,1.050582e+09,1.055684e+09,1.059128e+09,1.064428e+09,1.070026e+09
172,OECD members,OED,"Population, total",7.866482e+08,7.989375e+08,8.098554e+08,8.207370e+08,8.315820e+08,8.420880e+08,8.520783e+08,...,1.197068e+09,1.205836e+09,1.214903e+09,1.224451e+09,1.233249e+09,1.241510e+09,1.249249e+09,1.255298e+09,1.263179e+09,1.271345e+09
174,Other small states,OSS,"Population, total",6.590560e+06,6.721830e+06,6.853517e+06,6.988545e+06,7.129954e+06,7.279828e+06,7.439301e+06,...,1.772967e+07,1.803230e+07,1.834884e+07,1.867566e+07,1.899885e+07,1.934706e+07,1.974324e+07,2.013098e+07,2.053161e+07,2.093716e+07
186,Pacific island small states,PSS,"Population, total",8.613780e+05,8.895360e+05,9.192760e+05,9.498780e+05,9.803700e+05,1.010026e+06,1.038622e+06,...,2.061473e+06,2.087081e+06,2.114575e+06,2.143352e+06,2.172519e+06,2.201396e+06,2.229806e+06,2.257903e+06,2.285709e+06,2.313337e+06
192,South Asia,SAS,"Population, total",5.720361e+08,5.841432e+08,5.967011e+08,6.095715e+08,6.230731e+08,6.369638e+08,6.513260e+08,...,1.511136e+09,1.535288e+09,1.559057e+09,1.582576e+09,1.605927e+09,1.629224e+09,1.652488e+09,1.674923e+09,1.697997e+09,1.721021e+09
203,Sub-Saharan Africa (developing only),SSA,"Population, total",2.279749e+08,2.334620e+08,2.391016e+08,2.449109e+08,2.509048e+08,2.570980e+08,2.635065e+08,...,7.618470e+08,7.826973e+08,8.042593e+08,8.265145e+08,8.494306e+08,8.729817e+08,8.971637e+08,9.219784e+08,9.474007e+08,9.734029e+08
205,Sub-Saharan Africa (all income levels),SSF,"Population, total",2.282688e+08,2.337600e+08,2.394036e+08,2.452170e+08,2.512159e+08,2.574149e+08,2.638307e+08,...,7.625557e+08,7.834277e+08,8.050102e+08,8.272877e+08,8.502251e+08,8.738002e+08,8.980021e+08,9.228404e+08,9.482877e+08,9.743153e+08
206,Small states,SST,"Population, total",1.164275e+07,1.188229e+07,1.212620e+07,1.237425e+07,1.262476e+07,1.287675e+07,1.313126e+07,...,2.643206e+07,2.680062e+07,2.718700e+07,2.758629e+07,2.798259e+07,2.840303e+07,2.886974e+07,2.932599e+07,2.979314e+07,3.026406e+07
231,Upper middle income,UMC,"Population, total",1.027273e+09,1.030182e+09,1.045485e+09,1.072111e+09,1.098336e+09,1.125453e+09,1.156125e+09,...,2.199085e+09,2.217204e+09,2.234479e+09,2.251868e+09,2.269768e+09,2.287713e+09,2.305584e+09,2.323762e+09,2.342185e+09,2.360828e+09
241,World,WLD,"Population, total",3.034971e+09,3.076039e+09,3.128992e+09,3.193888e+09,3.259303e+09,3.326000e+09,3.395797e+09,...,6.514603e+09,6.595443e+09,6.676522e+09,6.758953e+09,6.841569e+09,6.924283e+09,7.007471e+09,7.089309e+09,7.174521e+09,7.260711e+09

In [172]:
df_population = df_population[~df_population['Country Code'].isin(removed_country_code)]

In [173]:
df_population[df_population.mean(axis = 1).isnull()]

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
100,Not classified,INX,"Population, total",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
df_population = df_population[df_population.mean(axis = 1).notnull()]

In [175]:
df_population.shape

(214, 58)

In [176]:
pd.melt(df_population,
        id_vars=['Country Name', 'Country Code', 'Indicator Name'],
        var_name='year',
        value_name= 'Total Population'
       )

,Country Name,Country Code,Indicator Name,year,Total Population
0,Aruba,ABW,"Population, total",1960,54208.0
1,Andorra,AND,"Population, total",1960,13414.0
2,Afghanistan,AFG,"Population, total",1960,8994793.0
3,Angola,AGO,"Population, total",1960,5270844.0
4,Albania,ALB,"Population, total",1960,1608800.0
5,United Arab Emirates,ARE,"Population, total",1960,92612.0
6,Argentina,ARG,"Population, total",1960,20619075.0
7,Armenia,ARM,"Population, total",1960,1867396.0
8,American Samoa,ASM,"Population, total",1960,20012.0
9,Antigua and Barbuda,ATG,"Population, total",1960,54681.0
10,Australia,AUS,"Population, total",1960,10276477.0
11,Austria,AUT,"Population, total",1960,7047539.0
12,Azerbaijan,AZE,"Population, total",1960,3897889.0
13,Burundi,BDI,"Population, total",1960,2786740.0
14,Belgium,BEL,"Population, total",1960,9153489.0
15,Benin,BEN,"Population, total",1960,2431620.0
16,Burkina Faso,BFA,"Population, total",1960,4829291.0
17,Bangladesh,BGD,"Population, total",1960,48200702.0
18,Bulgaria,BGR,"Population, total",1960,7867374.0
19,Bahrain,BHR,"Population, total",1960,162501.0
20,"Bahamas, The",BHS,"Population, total",1960,109526.0
21,Bosnia and Herzegovina,BIH,"Population, total",1960,3214520.0
22,Belarus,BLR,"Population, total",1960,8198000.0
23,Belize,BLZ,"Population, total",1960,92068.0
24,Bermuda,BMU,"Population, total",1960,44400.0
25,Bolivia,BOL,"Population, total",1960,3693451.0
26,Brazil,BRA,"Population, total",1960,72493585.0
27,Barbados,BRB,"Population, total",1960,230934.0
28,Brunei Darussalam,BRN,"Population, total",1960,81825.0
29,Bhutan,BTN,"Population, total",1960,224108.0
...,...,...,...,...,...
11740,Turks and Caicos Islands,TCA,"Population, total",2014,33740.0
11741,Chad,TCD,"Population, total",2014,13587053.0
11742,Togo,TGO,"Population, total",2014,7115163.0
11743,Thailand,THA,"Population, total",2014,67725979.0
11744,Tajikistan,TJK,"Population, total",2014,8295840.0
11745,Turkmenistan,TKM,"Population, total",2014,5307188.0
11746,Timor-Leste,TLS,"Population, total",2014,1212107.0
11747,Tonga,TON,"Population, total",2014,105586.0
11748,Trinidad and Tobago,TTO,"Population, total",2014,1354483.0
11749,Tunisia,TUN,"Population, total",2014,10996600.0
11750,Turkey,TUR,"Population, total",2014,75932348.0
11751,Tuvalu,TUV,"Population, total",2014,9893.0
11752,Tanzania,TZA,"Population, total",2014,51822621.0
11753,Uganda,UGA,"Population, total",2014,37782971.0
11754,Ukraine,UKR,"Population, total",2014,45362900.0
11755,Uruguay,URY,"Population, total",2014,3419516.0
11756,United States,USA,"Population, total",2014,318857056.0
11757,Uzbekistan,UZB,"Population, total",2014,30757700.0
11758,St. Vincent and the Grenadines,VCT,"Population, total",2014,109360.0
11759,"Venezuela, RB",VEN,"Population, total",2014,30693827.0
11760,Virgin Islands (U.S.),VIR,"Population, total",2014,104170.0
11761,Vietnam,VNM,"Population, total",2014,90730000.0
11762,Vanuatu,VUT,"Population, total",2014,258883.0
11763,West Bank and Gaza,PSE,"Population, total",2014,4294682.0
11764,Samoa,WSM,"Population, total",2014,191845.0
11765,"Yemen, Rep.",YEM,"Population, total",2014,26183676.0
11766,South Africa,ZAF,"Population, total",2014,54001953.0
11767,"Congo, Dem. Rep.",COD,"Population, total",2014,74877030.0
11768,Zambia,ZMB,"Population, total",2014,15721343.0
11769,Zimbabwe,ZWE,"Population, total",2014,15245855.0

In [177]:
df_population = pd.melt(df_population,
                        id_vars=[
                            'Country Name', 'Country Code', 'Indicator Name'],
                        var_name='year',
                        value_name='Total Population'
                        )

In [178]:
df_population['year'] = df_population['year'].astype(int)

In [179]:
df_population.drop(['Country Name', 'Indicator Name'], axis = 1)

      Country Code  year  Total Population
0              ABW  1960           54208.0
1              AND  1960           13414.0
2              AFG  1960         8994793.0
3              AGO  1960         5270844.0
4              ALB  1960         1608800.0
5              ARE  1960           92612.0
6              ARG  1960        20619075.0
7              ARM  1960         1867396.0
8              ASM  1960           20012.0
9              ATG  1960           54681.0
10             AUS  1960        10276477.0
11             AUT  1960         7047539.0
12             AZE  1960         3897889.0
13             BDI  1960         2786740.0
14             BEL  1960         9153489.0
15             BEN  1960         2431620.0
16             BFA  1960         4829291.0
17             BGD  1960        48200702.0
18             BGR  1960         7867374.0
19             BHR  1960          162501.0
20             BHS  1960          109526.0
21             BIH  1960         3214520.0
22             BLR  1960         8198000.0
23             BLZ  1960           92068.0
24             BMU  1960           44400.0
25             BOL  1960         3693451.0
26             BRA  1960        72493585.0
27             BRB  1960          230934.0
28             BRN  1960           81825.0
29             BTN  1960          224108.0
...            ...   ...               ...
11740          TCA  2014           33740.0
11741          TCD  2014        13587053.0
11742          TGO  2014         7115163.0
11743          THA  2014        67725979.0
11744          TJK  2014         8295840.0
11745          TKM  2014         5307188.0
11746          TLS  2014         1212107.0
11747          TON  2014          105586.0
11748          TTO  2014         1354483.0
11749          TUN  2014        10996600.0
11750          TUR  2014        75932348.0
11751          TUV  2014            9893.0
11752          TZA  2014        51822621.0
11753          UGA  2014        37782971.0
11754          UKR  2014        45362900.0
11755          URY  2014         3419516.0
11756          USA  2014       318857056.0
11757          UZB  2014        30757700.0
11758          VCT  2014          109360.0
11759          VEN  2014        30693827.0
11760          VIR  2014          104170.0
11761          VNM  2014        90730000.0
11762          VUT  2014          258883.0
11763          PSE  2014         4294682.0
11764          WSM  2014          191845.0
11765          YEM  2014        26183676.0
11766          ZAF  2014        54001953.0
11767          COD  2014        74877030.0
11768          ZMB  2014        15721343.0
11769          ZWE  2014        15245855.0

[11770 rows x 3 columns]

In [180]:
df_population = df_population.drop(['Country Name', 'Indicator Name'],
                                   axis = 1)

In [181]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11770 entries, 0 to 11769
Data columns (total 3 columns):
Country Code        11770 non-null object
year                11770 non-null int64
Total Population    11669 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 275.9+ KB

In [182]:
pd.merge(df_merged_co2_meta,df_population,
         on = ['Country Code', 'year'],
         how = 'left'
        )

KeyError: 'year'

In [ ]:
df_merged_co2_meta_pop = pd.merge(
    df_merged_co2_meta,df_population,
    on = ['Country Code', 'year'],
    how = 'left'
)

In [ ]:
df_merged_co2_meta_pop.shape

## Adding Natural Disaster Data From the International Disaster Database
http://www.emdat.be/advanced_search/index.html-statistics

In [ ]:
!head -5 Natural_Disaster_Data.csv

In [ ]:
df_disaster = pd.read_csv(
    'Natural_Disaster_Data.csv',
    encoding = 'utf-8'
)

In [ ]:
df_disaster.shape

In [ ]:
df_disaster.head()

In [ ]:
df_disaster.index

In [ ]:
df_disaster.reset_index()

In [ ]:
df_disaster.reset_index(inplace=True)

In [ ]:
df_disaster.head()

In [ ]:
df_disaster.rename(
    columns={
        'index': 'year',
        'year' : 'disaster_type',
        'Country iso, Country name': 'country_name',
        'disaster_type': 'Country Code'
    },
    inplace = True
)

In [ ]:
df_disaster.info()

### The pre-merge check
1. Missing Values
1. Column Names

In [183]:
df_disaster[df_disaster.mean(axis = 1).isnull()]

NameError: name 'df_disaster' is not defined

In [184]:
df_disaster.drop('country_name', axis = 1)

NameError: name 'df_disaster' is not defined

In [185]:
df_disaster.drop('country_name', axis = 1, inplace = True)

NameError: name 'df_disaster' is not defined

In [186]:
df_disaster.shape

NameError: name 'df_disaster' is not defined

In [187]:
## add 2 columns

In [188]:
df_disaster['total_death_and_affected'] = df_disaster['Total affected'] + df_disaster['Total deaths']

NameError: name 'df_disaster' is not defined

In [189]:
df_disaster['Total damage_unit'] = 'k USD'

NameError: name 'df_disaster' is not defined

In [190]:
## Merge again

In [191]:
pd.merge(
    df_merged_co2_meta_pop,
    df_disaster,
    on = ['Country Code', 'year'],
    how = 'left'
)

NameError: name 'df_merged_co2_meta_pop' is not defined

In [192]:
df_merged_co2_meta_pop_dis = pd.merge(
    df_merged_co2_meta_pop,
    df_disaster,
    on = ['Country Code', 'year'],
    how = 'left'
)

NameError: name 'df_merged_co2_meta_pop' is not defined

In [193]:
df_merged_co2_meta_pop_dis.shape

NameError: name 'df_merged_co2_meta_pop_dis' is not defined

In [194]:
climate = df_merged_co2_meta_pop_dis

NameError: name 'df_merged_co2_meta_pop_dis' is not defined

In [195]:
climate.head(2)

NameError: name 'climate' is not defined

## Add a few columns

In [196]:
climate['total_co2'] = climate['co2_emissions'] * climate['Total Population']

NameError: name 'climate' is not defined

In [197]:
climate['total_co2_unit'] = 'metric_tons'

NameError: name 'climate' is not defined

In [198]:
climate.tail()

NameError: name 'climate' is not defined

In [199]:
climate.to_csv(
    'climate_data.csv',
    index = False,
    encoding = 'utf-8'
)

NameError: name 'climate' is not defined

## Exploratory Analysis

In [200]:
climate.head()

NameError: name 'climate' is not defined

In [201]:
col_names = climate.columns;
col_names

NameError: name 'climate' is not defined

In [202]:
climate['disaster_type'].value_counts()

NameError: name 'climate' is not defined

In [203]:
climate['Region'].value_counts()

NameError: name 'climate' is not defined

## Aggregating Results Using Groupby

In [204]:
#Groupby and split-apply-combine
by_year = climate.groupby('year')

NameError: name 'climate' is not defined

In [205]:
# It looks like a dataframe
by_year.head()

NameError: name 'by_year' is not defined

In [206]:
# but actually head() only shows the first n rows of each group
by_year.head().shape

NameError: name 'by_year' is not defined

In [207]:
# it has a different object type
by_year

NameError: name 'by_year' is not defined

In [208]:
by_year.describe()

NameError: name 'by_year' is not defined

In [209]:
by_year.describe(include =['object'])

NameError: name 'by_year' is not defined

In [210]:
by_year.describe().iloc[:,[1,2,3,4,-2,-1]]

NameError: name 'by_year' is not defined

In [211]:
# you can get a group of name
by_year.get_group(1980)

NameError: name 'by_year' is not defined

In [212]:
# selecting a column in the groupby object
by_year['occurrence']

NameError: name 'by_year' is not defined

In [213]:
# you need to add a function to return a table
by_year['occurrence'].sum()

NameError: name 'by_year' is not defined

### sorting results

In [214]:
# which year has the highest # of disasters?
by_year['occurrence'].sum().order(ascending = False)

NameError: name 'by_year' is not defined

### In 2011, which country has the highest total co2 emissions?

In [215]:
df_2011 = by_year.get_group(2011)

NameError: name 'by_year' is not defined

In [216]:
df_2011[['Country Name', 'total_co2']].sort_index(by = 'total_co2',
                                                  ascending = False)

NameError: name 'df_2011' is not defined

### In the same year which country was the most economically affected by natural disasters?

In [217]:
#this seems to give you the results, but not really
df_2011[['Country Name',
         'Total damage',
         'disaster_type']].sort_index(by = 'Total damage',ascending = False)

NameError: name 'df_2011' is not defined

In [218]:
by_country_2011 = df_2011.groupby('Country Name');
by_country_2011['Total damage'].sum().order(ascending = False)

NameError: name 'df_2011' is not defined

## Group by 2 variables

In [219]:
col_names

NameError: name 'col_names' is not defined

In [220]:
#The total damage from all natural disasters for each country per year
by_year_country = climate.groupby(['year', 'Country Name']);
by_year_country['Total damage'].sum().order(ascending = False)

NameError: name 'climate' is not defined

### rank of total co2 emissions from high to low for each region-year combination

In [221]:
by_year_region = climate.groupby(['year', 'Region'])

NameError: name 'climate' is not defined

In [222]:
by_year_region['total_co2'].sum().order(ascending = False)

NameError: name 'by_year_region' is not defined

## What if I want to see the same thing in a table with year as rows and region as columns?

In [223]:
by_year_region['total_co2'].sum().unstack()

NameError: name 'by_year_region' is not defined

### Pivot Table

In [224]:
climate.pivot_table(values='total_co2',
                    index = 'year',
                    columns = 'Region',
                    aggfunc = 'sum')

NameError: name 'climate' is not defined

In [225]:
# turn on the margins to compare total values
climate.pivot_table(values='total_co2',
                    index = 'year',
                    columns = 'Region',
                    aggfunc = 'sum',
                    margins = True)

NameError: name 'climate' is not defined

In [226]:
#add gradual examples of pivot table

In [227]:
# two levels of aggregation
climate.pivot_table(index = 'year',
                    columns = 'Region',
                    aggfunc = {'total_co2':'mean',
                               'Total damage':'sum'})

NameError: name 'climate' is not defined

In [228]:
pt_total_co2 = climate.pivot_table(values='total_co2',
                    index = 'year',
                    columns = 'Region',
                    aggfunc = 'sum',)

NameError: name 'climate' is not defined

## Plotting graphs

In [229]:
import matplotlib.pyplot as plt
%matplotlib inline

In [230]:
by_year['total_co2'].sum().plot(kind = 'bar')

NameError: name 'by_year' is not defined

In [231]:
from matplotlib import style
style.use('ggplot')

In [232]:
by_year['total_co2'].sum().plot(kind = 'bar',
                                figsize=(10, 8))
plt.title('Global CO2 Emissions')
plt.ylabel('CO2 Emission (Metric Tons)')

NameError: name 'by_year' is not defined

In [233]:
by_year['total_co2'].sum().plot(kind = 'barh',
                                figsize=(8, 10))
plt.title('Global CO2 Emissions')
plt.xlabel('CO2 Emission (Metric Tons)')

NameError: name 'by_year' is not defined

In [234]:
#set default figure size
plt.rcParams['figure.figsize'] = (10.0, 8.0)

### ex: plot the 20 countries with the highest CO2 emissions from 1960-2011

In [235]:
#global total damage over time
by_country = climate.groupby('Country Name');
by_country['total_co2'].sum().order()[-20:].plot(kind = 'barh')
plt.title('Total CO2 Emissions (1960-2011)')
plt.xlabel('CO2 Emission (Metric Tons)')

NameError: name 'climate' is not defined

### Per Capita

In [236]:
by_country['co2_emissions'].sum().order()[-20:].plot(kind = 'barh')
plt.title('CO2 Emissions Per Capita (1960-2011)')
plt.xlabel('CO2 Emission (Metric Tons)')

NameError: name 'by_country' is not defined

In [237]:
climate.pivot_table('occurrence',
                   index = 'year',
                   columns = 'disaster_type',
                   aggfunc='sum').plot()

NameError: name 'climate' is not defined

In [238]:
pt_total_co2.plot()

NameError: name 'pt_total_co2' is not defined

In [239]:
pt_total_co2.plot?

Object `pt_total_co2.plot` not found.

In [240]:
pt_total_co2.plot(figsize=(10, 8))
plt.title('Total CO2 Emissions By Region')
plt.ylabel('CO2 Emission (Metric Tons)')
plt.savefig('total_co2_by_region.pdf')

NameError: name 'pt_total_co2' is not defined

### Ex: Plot CO2 Emissions Per Capita

In [241]:
pt_co2_per_cap = climate.pivot_table(values='co2_emissions',
                                    index = 'year',
                                    columns = 'Region',
                                    aggfunc = 'sum',
                                    )

NameError: name 'climate' is not defined

In [242]:
pt_co2_per_cap.plot()

NameError: name 'pt_co2_per_cap' is not defined

In [243]:
pt_total_co2.plot(kind = 'box',
                  figsize=(15, 8))
plt.title('Total CO2 Emissions By Region (1960-2011)')
plt.ylabel('CO2 Emission (Metric Tons)')
plt.xticks(rotation= 30)

NameError: name 'pt_total_co2' is not defined

### Ex: Boxplot Total Damage by Income Group

In [244]:
pt_deaths_affected_by_income = climate.pivot_table(values='total_death_and_affected',
                                    index = 'year',
                                    columns = 'IncomeGroup',
                                    aggfunc = 'sum',
                                    )

NameError: name 'climate' is not defined

In [245]:
pt_deaths_affected_by_income.plot(kind = 'box')

NameError: name 'pt_deaths_affected_by_income' is not defined

In [246]:
pt_deaths_affected_by_income.plot(kind = 'bar', stacked = True)

NameError: name 'pt_deaths_affected_by_income' is not defined

### Scatterplot

In [247]:
by_year[['Total damage', 'total_co2']].sum().plot(kind ='scatter',
                                                  x = 'total_co2',
                                                  y = 'Total damage',
                                                  xlim = 0)

NameError: name 'by_year' is not defined

## Ex: the relationship between Total CO2 emissions and the occurrence of natural disasters

In [248]:
# think of how you organize your data first
by_year[['total_co2','occurrence']].sum().plot(kind ='scatter', 
                                               x = 'total_co2',
                                               y = 'occurrence',
                                               xlim = 0)

NameError: name 'by_year' is not defined

In [ ]:
from pandas.tools.plotting import scatter_matrix

In [ ]:
var_by_year = by_year[['total_co2',
                        'occurrence',
                        'Total deaths',
                        'Total affected',
                        ]].sum();
scatter_matrix(var_by_year, alpha = 1.0, figsize=(10, 10))

In [ ]:
scatter_matrix?

### Histogram

In [249]:
climate['Total Population'].plot(kind ='hist')

NameError: name 'climate' is not defined

In [250]:
# what's the distribution of the occurrence of natural disasters?
climate['occurrence'].plot(kind ='hist')

NameError: name 'climate' is not defined

In [251]:
# Other Python plotting libraries:
# Seaborn, ggplot for static plotting
# Bokeh for interactive plotting